<ion-content class="ion-padding">
    <div class="button-bar">
<ion-button class="cancel-btn" fill="outline" color="medium" (click)="onCancel()">Cancel</ion-button>
<ion-button class="apply-btn" color="success" (click)="onApply()">Apply</ion-button>

  </div>
  <swiper-container
    #swiperRef
    slides-per-view="1"
    style="  margin: 20px auto;
      max-width: 600px;
      min-height: 700px;
  border: 2px solid #ccc;
  padding: 16px;
  border-radius: 16px;
  background: #fff;"
    [allowTouchMove]="false"
  >
    <!-- Layout 4 Columns -->
    <swiper-slide>
      <div class="grid">
        <div class="row" *ngFor="let row of getRows(4)">
          <button class="seat" *ngFor="let seat of row">{{ seat }}</button>
        </div>
      </div>
    </swiper-slide>

    <!-- Layout 5 Columns -->
    <swiper-slide>
      <div class="grid">
        <div class="row" *ngFor="let row of getRows(5)">
          <button class="seat01" *ngFor="let seat of row">{{ seat }}</button>
        </div>
      </div>
    </swiper-slide>

    <!-- Layout 6 Columns -->
    <swiper-slide>
      <div class="grid">
        <div class="row" *ngFor="let row of getRows(6)">
          <button class="seat02" *ngFor="let seat of row">{{ seat }}</button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <ion-segment [(ngModel)]="selectedColumn" (ionChange)="selectColumn($event.detail.value)" class="column-selector" style="margin-top: 1rem;">
    <ion-segment-button [value]="4">4 Columns</ion-segment-button>
    <ion-segment-button [value]="5">5 Columns</ion-segment-button>
    <ion-segment-button [value]="6">6 Columns</ion-segment-button>
  </ion-segment>
</ion-content>
