<ion-content [fullscreen]="true" scrollY="false">

  <div class="box-main">
    <!-- &nbsp; -->

      <div class="box-content-1">
       <div class="button-box-left">
        <ion-button class="actived" size="small">
          <ion-label>Stock Levels</ion-label>
        </ion-button>
        <ion-button size="small">
          <ion-icon name="arrow-down-outline"></ion-icon>
          <ion-label>รับเข้า</ion-label>
        </ion-button>
        <ion-button size="small">
          <ion-icon name="arrow-up-outline"></ion-icon>
          <ion-label>เบิกออก</ion-label>
        </ion-button>
       </div>

        <div class="button-box-right">

          <div class="popop">
            <ion-select mode="md" [interfaceOptions]="customPopoverOptionsStyle1" class="css-pop-3"
              toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder="Year"
              interface="popover" [(ngModel)]="sort_by">
              <ion-select-option value="1">สินค้า</ion-select-option>
              <ion-select-option value="2">General</ion-select-option>
              <ion-select-option value="3">Silver</ion-select-option>
              <ion-select-option value="4">Gold</ion-select-option>
              <ion-select-option value="5">Daimond</ion-select-option>
              <ion-select-option value="6">Platinum</ion-select-option>
            </ion-select>
          </div>

          <ion-label class="type-display">การแสดงผล:</ion-label>

          <div class="popop-dot">
            <ion-select mode="md" [interfaceOptions]="customPopoverOptionsStyle1" class="css-pop-4"
              toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder="Year"
              interface="popover" [(ngModel)]="sort_by">
              <ion-select-option value="1">สินค้า</ion-select-option>
              <ion-select-option value="2">General</ion-select-option>
              <ion-select-option value="3">Silver</ion-select-option>
              <ion-select-option value="4">Gold</ion-select-option>
              <ion-select-option value="5">Daimond</ion-select-option>
              <ion-select-option value="6">Platinum</ion-select-option>
            </ion-select>
          </div>
        </div>
      </div>

      <div class="box-content-2">
            <div class="table-scroll">
              <ion-grid class="box-member">
                <ion-row class="header">
                  <ion-col size="auto" class="ion-text-center">
                    <div class="col-head-1">
                      <ion-label>Image</ion-label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="col-head-2">
                      <ion-label>ชื่อวัตถุดิบ</ion-label>
                    </div>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-3">
                      <ion-label>Last Imported</ion-label>
                    </div>

                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-4">
                      <ion-label>Last Exported</ion-label>
                    </div>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-5">
                      <ion-label>Stock level</ion-label>
                    </div>

                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-6">
                      <ion-label>EXP</ion-label>
                    </div>

                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-7">
                      <ion-label>จุดสั่งซื้อ</ion-label>
                    </div>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-8">
                      <ion-label>Condition</ion-label>
                    </div>
                  </ion-col>
                </ion-row>


                <div class="data-body">
                  <ion-row class="data-row"
                    *ngFor="let item of ['Daimond','Daimond','Silver','Platinum','General','Platinum','Daimond','Gold','Gold','General','Daimond'];let i = index;">
                    <ion-col size="auto" class="ion-text-center">
                      <div class="col-body-1">
                        <div class="box-img">
                          <img src="assets/image/img-product.png" alt="">
                        </div>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-2">
                        <ion-label>Item name</ion-label>
                      </div>
                    </ion-col>
    
                    <ion-col class="ion-text-center">
                      <div class="col-body-4">
                        <ion-label>12/03/2024</ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-5">
                        <ion-label>098-129-9734</ion-label>
                      </div>

                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-7">
                        <ion-label>1,256</ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-8">
                        <ion-label>25</ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-9">
                        <ion-label>12/03/2024</ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-10">
                        <ion-label>฿ 56,942</ion-label>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-grid>
            </div>
      </div>



  </div>

</ion-content>