<ion-content [fullscreen]="true">
  <!-- แซ็ค
  หน้าส่วนลด
  
  1.ลด Sizeค่อยดรอปดาว
  2.เพิ่มปุ่มยดเลิก ตอนกดแก้ไข
  3.Drop-down  ตอนแก้ มี border และ bg สีขาว
  4.หน้ากดเพิ่มให้ไว้ข้างบน
  5.ระยะห่างระหว่างการแต่ละส่วนลดลดตาม prototype -->
  
  <div class="flex-title">
    <div class="left-title">
      <p>ส่วนลด และ ภาษี</p>
    </div>
    <div class="mid-title">
      <div class="discount">
        <ion-button (click)="handleClick($event,1)">
          ส่วนลด
        </ion-button>
      </div>
      <div class="vat">
        <ion-button (click)="handleClick($event,2)">
          VAT
        </ion-button>
      </div>
      <div class="service-charge">
        <ion-button (click)="handleClick($event,3)">
          Service Charge
        </ion-button>
      </div>
      <div class="discount-foods">
        <ion-button (click)="handleClick($event,4)">
          ส่วนลดอาหาร
        </ion-button>
      </div>
      <div class="extra-charge">
        <ion-button (click)="handleClick($event,5)">
          เก็บเพิ่ม
        </ion-button>
      </div>
    </div>
   
    <div class="right-title">
      <div class="add-data" >
       
        <ion-button [ngStyle]="{'visibility': showAddButton() ? 'visible' : 'hidden'}" (click)="addDiscount()">
          +เพิ่ม
        </ion-button>

      </div>
    </div>

  </div>
  <div class="container-data">
    <ng-container *ngIf="select_tab == 1">
      <div class="card-container" *ngFor="let discount of discounts; let i = index">
        <ion-card class="flex-start-card">
          <!-- ชื่อส่วนลด -->
          <div class="d-name">
            <div class="flex-dname">
              <p>ชื่อส่วนลด</p>
              <p>{{discount.name.length}}/{{maxNameLength}}</p> <!-- แสดงจำนวนตัวอักษรที่พิมพ์แล้ว -->
            </div>
         
              <ion-input class="custom-ion-input-text-3"
                 type="text"
                 [disabled]="editingId !== discount.id"
                 [(ngModel)]="discount.name"
                 [attr.maxlength]="maxNameLength"
                [value]="discount.name"
                ></ion-input>
                
         
          </div>
          
    
          <!-- รูปแบบส่วนลด -->
          <div class="d-format">
            <div class="flex-dformat">
              <p>รูปแบบส่วนลด</p>
            </div>
            <div class="box-style-3-bottom">
              <ion-select 
                [ngClass]="{'select-disabled': editingId !== discount.id, 'edit-mode': editingId === discount.id}" 
                [disabled]="editingId !== discount.id" 
                [(ngModel)]="discount.type" 
                [interfaceOptions]="customPopoverMultiSelect" 
                class="css-pop-3 select-custom-focus"
                toggleIcon="chevron-down-outline" 
                expandedIcon="chevron-forward-outline" 
                placeholder="{{ discount.type}}"
                interface="popover" 
                mode="md">
                <ion-select-option>เปอร์เซ็นต์ (%)</ion-select-option>
                <ion-select-option>จำนวนเงิน (THB)</ion-select-option>
              </ion-select>
            </div>
          </div>
    
          <!-- จำนวนที่ลด -->
          <div class="d-format">
            <div class="flex-dformat">
              <p>จำนวนที่ลด</p>
            </div>
            <div class="box-style-3-bottom">
              <ion-select
              [ngClass]="{'edit-mode': editingId === discount.id}"
              [disabled]="editingId !== discount.id"
              [(ngModel)]="discount.amount"
              [interfaceOptions]="customPopoverMultiSelect"
              class="css-pop-3 select-custom-focus"
              toggleIcon="chevron-down-outline"
              expandedIcon="chevron-forward-outline"
              placeholder="{{ discount.amount }}"
              interface="popover"
              mode="md"
            >
              <ion-select-option value="10%">10%</ion-select-option>
              <ion-select-option value="15%">15%</ion-select-option>
              <ion-select-option value="20%">20%</ion-select-option>
            </ion-select>
            
            </div>
          </div>
    
          <!-- การใช้งาน -->
          <div class="d-format">
            <div class="flex-dformat">
              <p>การใช้งาน</p>
            </div>
            <div class="box-style-3-bottom">
              <ion-select 
                [ngClass]="{'edit-mode': editingId === discount.id}" 
                [disabled]="editingId !== discount.id" 
                [(ngModel)]="discount.usage" 
                [interfaceOptions]="customPopoverMultiSelect" 
                class="css-pop-3 select-custom-focus"
                toggleIcon="chevron-down-outline" 
                expandedIcon="chevron-forward-outline" 
                placeholder=""
                interface="popover"  
                mode="md">
                <ion-select-option value="เลือกใช้เอง">เลือกใช้เอง</ion-select-option>
                <ion-select-option value="อัตโนมัติ"><ion-icon name="checkmark-circle-outline"></ion-icon>ใช้งานอัตโนมัติ</ion-select-option>
              </ion-select>
            </div>
          </div>
    
          <!-- ปุ่มแก้ไข และ ยกเลิก -->
          <div class="edit-cus"> 
            <ion-button [ngClass]="{'active': editingId === discount.id}" (click)="toggleEdit(discount.id)" class="edit-button">
              {{ editingId === discount.id ? 'บันทึก' : 'แก้ไข' }}
            </ion-button>
            <ion-button *ngIf="editingId === discount.id" (click)="cancelEdit()" class="cancel-button">
              ยกเลิก
            </ion-button>
          </div>
        </ion-card>
      </div>
    </ng-container>
    
  <ng-container *ngIf="select_tab == 2">

  
  <div class="card-container" *ngFor="let v of vat; let i = index">
    <ion-card class="flex-start-card">
      <div class="d-name">
        <div class="flex-dname">
          <p>ชื่อส่วนลด</p>
          <p>{{ v.name.length}}/{{maxNameLength}}</p>
        </div>
        <ion-input class="custom-ion-input-text-3" type="text" [disabled]="true" [(ngModel)]="v.name"></ion-input>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>รูปแบบส่วนลด</p>
        </div>
    
        <ion-input [attr.maxlength]="maxNameLength" [disabled]="true" [(ngModel)]="v.type"  class="custom-ion-input-text-3">
      
        </ion-input>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>จำนวนที่ลด</p>
        </div>
        <ion-input [disabled]="true" [(ngModel)]="v.amount" class="custom-ion-input-text-3">
        </ion-input>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>การใช้งาน</p>
        </div>
       
        <div class="box-style-3-bottom">
          <ion-select [disabled]="editingId !== v.id"   [ngClass]="{'select-disabled': editingId !== v.id, 'edit-mode': editingId === v.id}"  [(ngModel)]="v.usage" [interfaceOptions]="customPopoverMultiSelect" class="css-pop-3 "
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder=""
            interface="popover" mode="md">
            <ion-select-option value="เลือกใช้เอง">เลือกใช้เอง</ion-select-option>
            <ion-select-option value="อัตโนมัติ">ใช้งานอัตโนมัติ</ion-select-option>
          </ion-select>
        </div>
      </div>
     
      <div class="edit-cus"> 
        <ion-button [ngClass]="{'active': editingId === v.id}" (click)="toggleEdit(v.id)"class="edit-button">
          {{ editingId === v.id ? 'บันทึก' : 'แก้ไข' }}
        </ion-button>
        <ion-button *ngIf="editingId === v.id" (click)="cancelEdit()" class="cancel-button">
          ยกเลิก
        </ion-button>
      </div>
    </ion-card>
    
  </div>
 </ng-container>
 <ng-container *ngIf="select_tab == 3">

  
  <div class="card-container" *ngFor="let v of service; let i = index">
    <ion-card class="flex-start-card">
      <div class="d-name">
        <div class="flex-dname">
          <p>ชื่อส่วนลด</p>
          <p>{{v.name.length}}/{{maxNameLength}}</p>
        </div>
        <ion-input class="custom-ion-input-text-3" type="text" [disabled]="true" [(ngModel)]="v.name"></ion-input>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>รูปแบบ</p>
        </div>
    
        <ion-input [disabled]="true" [attr.maxlength]="maxNameLength" [(ngModel)]="v.type"  class="custom-ion-input-text-3">
      
        </ion-input>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>จำนวนที่เก็บเพิ่ม</p>
        </div>

        <div class="box-style-3-bottom">
          <ion-select [disabled]="editingId !== v.id" [ngClass]="{'select-disabled': editingId !== v.id, 'edit-mode': editingId === v.id}" [(ngModel)]="v.amount"  [interfaceOptions]="customPopoverMultiSelect" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder=""
            interface="popover" mode="md">
            <ion-select-option value="10%">10%</ion-select-option>
            <ion-select-option value="15%">15%</ion-select-option>
            <ion-select-option value="20%">20%</ion-select-option>
          </ion-select>
        </div>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>การใช้งาน</p>
        </div>


        <div class="box-style-3-bottom">
          <ion-select [disabled]="editingId !== v.id" [ngClass]="{'select-disabled': editingId !== v.id, 'edit-mode': editingId === v.id}" [(ngModel)]="v.usage"  [interfaceOptions]="customPopoverMultiSelect" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder=""
            interface="popover" mode="md">
            <ion-select-option value="เลือกใช้เอง">เลือกใช้เอง</ion-select-option>
            <ion-select-option value="อัตโนมัติ">ใช้งานอัตโนมัติ</ion-select-option>
          </ion-select>
        </div>
      </div>
      <div class="edit-cus"> 
        <ion-button [ngClass]="{'active': editingId === v.id}" (click)="toggleEdit(v.id)"class="edit-button">
          {{ editingId === v.id ? 'บันทึก' : 'แก้ไข' }}
        </ion-button>
        <ion-button *ngIf="editingId === v.id" (click)="cancelEdit()" class="cancel-button">
          ยกเลิก
        </ion-button>
      </div>
    </ion-card>
    
  </div>
 </ng-container>

 <ng-container *ngIf="select_tab == 4">

   
  <div class="card-container" *ngFor="let discount of discounts_foods; let i = index">
    <ion-card class="flex-start-card">
      <div class="d-name">
        <div class="flex-dname">
          <p>ชื่อส่วนลด</p>
          <p>{{discount.name.length}}/{{maxNameLength}}</p> 
        </div>
        <ion-input class="custom-ion-input-text-3" type="text"  [attr.maxlength]="maxNameLength" [disabled]="editingId !== discount.id" [(ngModel)]="discount.name" [value]="discount.name"></ion-input>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>รูปแบบส่วนลด</p>
        </div>
        <div class="box-style-3-bottom">
          <ion-select [disabled]="editingId !== discount.id" [ngClass]="{'select-disabled': editingId !== discount.id, 'edit-mode': editingId === discount.id}" [(ngModel)]="discount.type" [interfaceOptions]="customPopoverMultiSelect" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder=""
            interface="popover" mode="md">
            <ion-select-option value="percentage">เปอร์เซ็นต์ (%)</ion-select-option>
            <ion-select-option value="fixed">จำนวนเงิน (THB)</ion-select-option>
          </ion-select>
        </div>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>จำนวนที่ลด</p>
        </div>
  

        <div class="box-style-3-bottom">
          <ion-select [disabled]="editingId !== discount.id" [ngClass]="{'select-disabled': editingId !== discount.id, 'edit-mode': editingId === discount.id}" [(ngModel)]="discount.amount" [interfaceOptions]="customPopoverMultiSelect" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder=""
            interface="popover" mode="md">
            <ion-select-option value="10%">10%</ion-select-option>
          <ion-select-option value="15%">15%</ion-select-option>
          <ion-select-option value="20%">20%</ion-select-option>
          </ion-select>
        </div>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>การใช้งาน</p>
        </div>
        <!-- <ion-select [disabled]="editingId !== discount.id" [(ngModel)]="discount.usage" aria-label="Usage" interface="popover" class="custom-ion-input-text-3">
          <ion-select-option value="เลือกใช้เอง">เลือกแล้ว(1)</ion-select-option>
          <ion-select-option value="เลือกใช้เอง">เลือกแล้ว(2)</ion-select-option>
          <ion-select-option value="เลือกใช้เอง">เลือกแล้ว(3)</ion-select-option>
          <ion-select-option value="เลือกใช้เอง">เลือกแล้ว(4)</ion-select-option>
          <ion-select-option value="เลือกใช้เอง">เลือกแล้ว(5)</ion-select-option>
   
        </ion-select> -->

        <div class="box-style-3-bottom">
          <ion-select [disabled]="editingId !== discount.id" [ngClass]="{'select-disabled': editingId !== discount.id, 'edit-mode': editingId === discount.id}" [(ngModel)]="discount.usage" [interfaceOptions]="customPopoverMultiSelect" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder=""
            interface="popover" mode="md">
            <ion-select-option value="เลือกใช้เอง">เลือกแล้ว(1)</ion-select-option>
            <ion-select-option value="เลือกใช้เอง">เลือกแล้ว(2)</ion-select-option>
            <ion-select-option value="เลือกใช้เอง">เลือกแล้ว(3)</ion-select-option>
            <ion-select-option value="เลือกใช้เอง">เลือกแล้ว(4)</ion-select-option>
            <ion-select-option value="เลือกใช้เอง">เลือกแล้ว(5)</ion-select-option>
          </ion-select>
        </div>
      </div>
    
      <div class="edit-cus"> 
        <ion-button [ngClass]="{'active': editingId === discount.id}" (click)="toggleEdit(discount.id)"class="edit-button">
          {{ editingId === discount.id ? 'บันทึก' : 'แก้ไข' }}
        </ion-button>
        <ion-button *ngIf="editingId === discount.id" (click)="cancelEdit()" class="cancel-button">
          ยกเลิก
        </ion-button>
      </div>
    </ion-card>
    
  </div> 
</ng-container>
<ng-container *ngIf="select_tab == 5">

   
  <div class="card-container" *ngFor="let discount of ex; let i = index">
    <ion-card class="flex-start-card">
      <div class="d-name">
        <div class="flex-dname">
          <p>ชื่อส่วนลด</p>
          <p>{{discount.name.length}}/{{maxNameLength}}</p>
        </div>
        <ion-input class="custom-ion-input-text-3" type="text" [value]="discount.name"  [attr.maxlength]="maxNameLength" [disabled]="editingId !== discount.id" [(ngModel)]="discount.name"></ion-input>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>รูปแบบส่วนลด</p>
        </div>
    
        <!-- <ion-select [disabled]="editingId !== discount.id" [(ngModel)]="discount.type" aria-label="Type" interface="popover" class="custom-ion-input-text-3">
          <ion-select-option value="percentage">เปอร์เซ็นต์ (%)</ion-select-option>
          <ion-select-option value="fixed">จำนวนเงิน (THB)</ion-select-option>
     
        </ion-select> -->
        <div class="box-style-3-bottom">
          <ion-select [disabled]="editingId !== discount.id" [ngClass]="{'select-disabled': editingId !== discount.id, 'edit-mode': editingId === discount.id}" [(ngModel)]="discount.type" [interfaceOptions]="customPopoverMultiSelect" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder=""
            interface="popover" mode="md">
            <ion-select-option value="percentage">เปอร์เซ็นต์ (%)</ion-select-option>
            <ion-select-option value="fixed">จำนวนเงิน (THB)</ion-select-option>
          </ion-select>
        </div>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>จำนวนที่ลด</p>
        </div>
        <!-- <ion-select [disabled]="editingId !== discount.id" [(ngModel)]="discount.amount" aria-label="Discount Amount" interface="popover" class="custom-ion-input-text-3">
          <ion-select-option value="10%">10%</ion-select-option>
          <ion-select-option value="15%">15%</ion-select-option>
          <ion-select-option value="20%">20%</ion-select-option>
        
        </ion-select> -->

        <div class="box-style-3-bottom">
          <ion-select [disabled]="editingId !== discount.id" [ngClass]="{'select-disabled': editingId !== discount.id, 'edit-mode': editingId === discount.id}" [(ngModel)]="discount.amount" [interfaceOptions]="customPopoverMultiSelect" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder=""
            interface="popover" mode="md">
            <ion-select-option value="10%">10%</ion-select-option>
            <ion-select-option value="15%">15%</ion-select-option>
            <ion-select-option value="20%">20%</ion-select-option>
          </ion-select>
        </div>
      </div>
    
      <div class="d-format">
        <div class="flex-dformat">
          <p>การใช้งาน</p>
        </div>
        <!-- <ion-select [disabled]="editingId !== discount.id" [(ngModel)]="discount.usage" aria-label="Usage" interface="popover" class="custom-ion-input-text-3">
          <ion-select-option value="เลือกใช้เอง">เลือกใช้เอง</ion-select-option>
        

        </ion-select> -->
        <div class="box-style-3-bottom">
          <ion-select [disabled]="editingId !== discount.id" [ngClass]="{'select-disabled': editingId !== discount.id, 'edit-mode': editingId === discount.id}" [(ngModel)]="discount.usage" [interfaceOptions]="customPopoverMultiSelect" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder="เลือกใช้เอง"
            interface="popover" mode="md">
            <ion-select-option value="เลือกใช้เอง">เลือกใช้เอง</ion-select-option>
        
          </ion-select>
        </div>
      </div>
      <div class="edit-cus"> 
        <ion-button [ngClass]="{'active': editingId === discount.id}" (click)="toggleEdit(discount.id)"class="edit-button">
          {{ editingId === discount.id ? 'บันทึก' : 'แก้ไข' }}
        </ion-button>
        <ion-button *ngIf="editingId === discount.id" (click)="cancelEdit()" class="cancel-button">
          ยกเลิก
        </ion-button>
      </div>
  
    </ion-card>
    
  </div> 
</ng-container>
  </div>
  
</ion-content>
