.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    .start-section {
        p {
            font-size: 22px;
        }
    }
    .mid-section{
        ion-button{
            min-width: 125px;
            min-height: 40px;
            --border-radius: 50px;
            --background: var(--light-gray-color3);
            color: black;
            font-weight: 400;
        }
    }

    .end-section {
        .calendar {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

}
.table-tailwind-custom {
    @apply w-full overflow-auto;
  
    table {
      @apply w-full;
  
      thead {
     background-color: var(--light-sky-blue);
  
        th {
          @apply px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
        }
      }
  
      tbody {
        tr {
          &:nth-child(even) {
            @apply bg-gray-50;
          }
  
          td {
            font-weight: 300;
            @apply px-4 py-2 text-sm text-gray-700;
          }
          .cash{
            color: var(--text-primary);
          }
          .transfer{
            color: var(--text-primary-orage);
          }
          .discount{
            color: var(--text-primary-red);
          }
          
          .vat{
            color: var( --text-primary-blue);
          }
          .memberCount{
            color: var(--text-primary-blue);
          }
          .newMembers{
            color: var(--text-primary);
          }
        }
      }
    }
  }
  