<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex-header">
    <div class="start-section">
      <p>ประวัติการขาย</p>
    </div>
    <div class="header-inflex">


      <div class="mid-section">
        <ion-button 
          [class.selected]="selectedSection === 1" 
          (click)="selectSection(1)">
          รายใบเสร็จ
        </ion-button>
        <ion-button 
          [class.selected]="selectedSection === 2" 
          (click)="selectSection(2)">
          รายวัน
        </ion-button>
        <ion-button 
          [class.selected]="selectedSection === 3" 
          (click)="selectSection(3)">
          รายเดือน
        </ion-button>
      </div>
      
      <div class="end-section">
        <ion-button class="btn-calendar" size="small" (click)="selectSection_date()">
          <ion-icon name="calendar"></ion-icon>
        </ion-button>
        <div class="calendar">
          <p>Date of :</p> <span [class.hidden]="!date_pick">{{ date_pick }}</span>
        </div>
      </div>
    </div>

  </div>

  <div class="table-tailwind-custom">
    <table class="table-auto">
      <thead>
        <tr>
          <th>วันที่</th>
          <th>ยอดขายรวม</th>
          <th>เงินสด</th>
          <th>เงินโอน</th>
          <th>ส่วนลด</th>
          <th>Service charge</th>
          <th>Vat 7%</th>
          <th>บิล</th>
          <th>เฉลี่ย/บิล</th>
          <th>ขายดี</th>
          <th>ขายดี หมวดหมู่</th>
          <th>จำนวนลูกค้า</th>
          <th>สมาชิก</th>
          <th>สมาชิกใหม่</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data_history">
          <td class="date">{{ row.date }}</td>
          <td class="totalSales">{{ row.totalSales }}</td>
          <td class="cash">{{ row.cash }}</td>
          <td class="transfer">{{ row.transfer }}</td>
          <td class="discount">{{ row.discount }}</td>
          <td class="serviceCharge">{{ row.serviceCharge }}</td>
          <td class="vat">{{ row.vat }}</td>
          <td class="bill">{{ row.bill }}</td>
          <td class="averageBill">{{ row.averageBill }}</td>
          <td class="bestSeller">{{ row.bestSeller }}</td>
          <td class="bestSellerCategory">{{ row.bestSellerCategory }}</td>
          <td class="customerCount">{{ row.customerCount }}</td>
          <td class="memberCount">{{ row.memberCount }}</td>
          <td class="newMembers">{{ row.newMembers }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>