<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" scrollY="false">

  <div class="box-main">
    <!-- &nbsp; -->
    <div class="box-left">
      <div class="box-left-content-1">
        <ion-label class="text-sub-left-1">
          สมาชิกทั้งหมด
          <b>{{1256|number}}</b>
        </ion-label>
        <ion-label class="text-sub-left-2">
          Total Number of Member
          <span>Member History</span>
        </ion-label>
        <ion-grid class="box-table">
          <ion-row class="header">
            <ion-col size="4">
              <div class="col-head">
                <ion-label>ประเภทสมาชิก</ion-label>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="col-head">
                <ion-label>Percent</ion-label>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="col-head">
                <ion-label>จำนวน&nbsp;(คน)</ion-label>
              </div>
            </ion-col>

          </ion-row>

          <div class="data-body">
            <ion-row class="data-row" *ngFor="let member of member_all;let i = index;">
              <ion-col size="4">
                <div class="col-body">
                  <div class="box-color" [class]="'box-color-' + (i + 1)"></div>
                  <ion-label class="box-member-type">{{member.member_type}}</ion-label>
                </div>
              </ion-col>
              <ion-col size="4" class="">
                <div class="ion-text-center">
                  <ion-label>{{member.percent}}%</ion-label>
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="col-body-3">
                  <ion-label>{{member.count_people}}</ion-label>
                </div>
              </ion-col>

            </ion-row>
          </div>



        </ion-grid>

      </div>
      <div class="box-left-content-2">
        <ion-label class="text-sub-chart">
          เพศ<span>Genger</span>
        </ion-label>
        <div class="box-chart">
          <apx-chart [series]="PieOptions.series" [chart]="PieOptions.chart" [labels]="PieOptions.labels"
            [colors]="PieOptions.colors" [legend]="PieOptions.legend" [responsive]="PieOptions.responsive"></apx-chart>

        </div>
      </div>
      <div class="box-left-content-3">
        <ion-label class="text-sub-progress">
          ช่วงอายุ<span>Age Groups</span>
        </ion-label>
        <div class="box-progress">
          <div class="box-progress-card" *ngFor="let divided of divided_by_age;let i = index">
            <div class="box-progress-card-1">
              <ion-label>
                {{divided.age}}&nbsp;ปี
              </ion-label>
            </div>
            <div class="box-progress-card-2">
              <ion-progress-bar class="po-{{i+1}}" value="0.{{divided.percent}}"></ion-progress-bar>
            </div>
            <div class="box-progress-card-3">
              <ion-label>
                {{divided.count}}
              </ion-label>
            </div>
            <div class="box-progress-card-3">
              <ion-label>
                {{divided.percent}}%
              </ion-label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="box-right">

      <div class="box-right-content-1">
        <div class="segment-box">
          <ion-segment scrollable="true" class="" [(ngModel)]="select_member_page"
            (ionChange)="select_tab_event($event)" mode="ios">
            <ion-segment-button [value]="i" class="" *ngFor="let member of member_page_arr; let i = index">
              <ion-label>{{ member }}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="button-box-right">

          <div class="popop">
            <ion-select mode="md" [interfaceOptions]="customPopoverOptionsStyle1" class="css-pop-3"
              toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder="Year"
              interface="popover" [(ngModel)]="sort_by">
              <ion-select-option value="1">All Classes</ion-select-option>
              <ion-select-option value="2">General</ion-select-option>
              <ion-select-option value="3">Silver</ion-select-option>
              <ion-select-option value="4">Gold</ion-select-option>
              <ion-select-option value="5">Daimond</ion-select-option>
              <ion-select-option value="6">Platinum</ion-select-option>
            </ion-select>
          </div>

          <div class="border-or"></div>
          <ion-button class="btn-selecter" size="small" [ngClass]="{'select-period-active': select_period_number == 1}"
            (click)="select_period(1)">
            <ion-label>Visits</ion-label>
          </ion-button>
          <ion-button class="btn-selecter" size="small" [ngClass]="{'select-period-active': select_period_number == 2}"
            (click)="select_period(2)">
            <ion-label>Most spent</ion-label>
          </ion-button>
          <ion-button class="btn-selecter" size="small" [ngClass]="{'select-period-active': select_period_number == 3}"
            (click)="select_period(3)">
            <ion-label>Poits</ion-label>
          </ion-button>

          <div class="popop-dot">
            <ion-select [interfaceOptions]="customPopoverOptionsStyle1" class="css-pop-dot" toggleIcon="menu-sharp"
              mode="md" interface="popover" [(ngModel)]="select_by">
              <ion-select-option value="1">Up coming birthday</ion-select-option>
              <ion-select-option value="2">Join Date (Newest)</ion-select-option>
              <ion-select-option value="3">Join Date (earliest)</ion-select-option>
            </ion-select>

          </div>
        </div>
      </div>


      <div class="box-right-content-2">

        <swiper-container #swiper (swiperreachbeginning)="swiperReady()"
          (swiperslidechange)="swiperSlideCharge($event)">

          <!-- Member -->
          <swiper-slide >
            <div class="table-scroll">
              <ion-grid class="box-member">
                <ion-row class="header">
                  <ion-col size="auto" class="ion-text-center">
                    <div class="col-head-1">
                      <ion-label>Image</ion-label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="col-head-2">
                      <ion-label>Name</ion-label>
                    </div>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-3">
                      <ion-label>Type</ion-label>
                    </div>

                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-4">
                      <ion-label>Join Date</ion-label>
                    </div>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-5">
                      <ion-label>Phone NO.</ion-label>
                    </div>

                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-6">
                      <ion-label>Birth</ion-label>
                    </div>

                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-7">
                      <ion-label>Point</ion-label>
                    </div>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-8">
                      <ion-label>Visited</ion-label>
                    </div>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-9">
                      <ion-label>last visited</ion-label>
                    </div>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <div class="col-head-10">
                      <ion-label>Spend</ion-label>
                    </div>
                  </ion-col>
                </ion-row>


                <div class="data-body">
                  <ion-row class="data-row"
                    *ngFor="let item of ['Daimond','Daimond','Silver','Platinum','General','Platinum','Daimond','Gold','Gold','General','Daimond'];let i = index;">
                    <ion-col size="auto" class="ion-text-center">
                      <div class="col-body-1">
                        <div class="box-img">
                          <img src="assets/image/img-product.png" alt="">
                        </div>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-2">
                        <ion-label>Nick name</ion-label>
                        <ion-label>ID: 000123</ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-3">
                        <ion-label class="label-rank" [class]="'box-color-' + (i + 1)">{{item}}</ion-label>
                      </div>

                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-4">
                        <ion-label>12/03/2024</ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-5">
                        <ion-label>098-129-9734</ion-label>
                      </div>

                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-6">
                        <ion-label>12 Feb 2024</ion-label>
                      </div>

                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-7">
                        <ion-label>1,256</ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-8">
                        <ion-label>25</ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-9">
                        <ion-label>12/03/2024</ion-label>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <div class="col-body-10">
                        <ion-label>฿ 56,942</ion-label>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-grid>
            </div>
          </swiper-slide>

          <!-- Member Class -->
          <swiper-slide>
            <div class="table-scroll">
              <ion-grid class="box-member-class">
                <ion-row class="header">
                  <ion-col>
                    <div class="col-head-1">
                      <ion-label>Name</ion-label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="col-head-2">
                      <ion-label>Min Points Required</ion-label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="col-head-3">
                      <ion-label>Max Points Required</ion-label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="col-head-4">
                      <ion-label>Visit Required</ion-label>
                    </div>
                  </ion-col>
                </ion-row>

                <div class="data-body">
                  <ion-row class="data-row" *ngFor="let item of member_all_class;let i = index;">
                    <ion-col>
                      <div class="col-body-1">
                        <div *ngIf="i == 1" class="box-edit-color"></div>
                        <ion-label>{{item.name_class}}</ion-label>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div class="col-body-2">
                        <div class="box-style-1-input">
                          <ion-label class="text-sub-name">Min Points</ion-label>
                          <div class="box-style-1-bottom">
                            <ion-input class="custom-ion-input-number-3" type="number"
                              [value]="item.min_point"></ion-input>
                          </div>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div class="col-body-3">
                        <div class="box-style-1-input">
                          <ion-label class="text-sub-name">Max Points</ion-label>
                          <div class="box-style-1-bottom">
                            <ion-input class="custom-ion-input-number-3" type="number"
                              [value]="item.max_point"></ion-input>
                          </div>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div class="col-body-4">
                        <div class="box-style-1-input">
                          <ion-label class="text-sub-name">Visit</ion-label>
                          <div class="box-style-1-bottom">
                            <ion-input class="custom-ion-input-number-3" type="number" [value]="item.visit"></ion-input>
                          </div>
                        </div>
                        <div class="col-body-right">
                          <ion-button size="small" class="btn-edit">
                            <ion-icon name="pencil-outline"></ion-icon>
                            <ion-label>แก้ไข</ion-label>
                          </ion-button>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <!-- เพิ่มเติม -->
                  <ion-row class="data-row-footer">
                    <ion-label class="text-sub-footer">เพิ่มเติม</ion-label>
                    <div class="box-footer">

                      <div class="box-footer-left">
                        <ion-label class="box-footer-left-sub">จำนวนแต้มที่สามชิกจะได้รับต่อ 1 Visit =</ion-label>
                        <ion-input class="custom-ion-input-number-3" type="number" value="0"></ion-input>
                        <ion-label class="box-footer-left-sub">Points</ion-label>
                      </div>

                      <div class="box-footer-right">
                        <ion-button size="small" class="btn-edit">
                          <ion-icon name="pencil-outline"></ion-icon>
                          <ion-label>แก้ไข</ion-label>
                        </ion-button>
                      </div>

                    </div>



                  </ion-row>

                  <ion-row class="data-row-lean-more">
                    <ion-button size="small" class="btn-lean-more" (click)="setOpen(true)">
                      <ion-label>เรียนรู้เพิ่มเติมเกี่ยวกับระดับสมาชิก</ion-label>
                    </ion-button>
                  </ion-row>
                </div>


              </ion-grid>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>

    </div>

  </div>

</ion-content>

<ion-button class="btn-add-new-member " *ngIf="select_member_page == 0">Creat new</ion-button>

<!-- modal เรียนรู้เพิ่มเติมเกี่ยวกับระดับสมาชิก -->
<ion-modal class="show-lean-more" [isOpen]="isModalOpen" (didDismiss)="setOpen(false)">
  <ng-template>
    <div class="content">

      <div class="content-box">
        <ion-label class="text-head">ระดับสมาชิก</ion-label>
        <ion-label class="text-detail-style-1">ระดับของสมาชิกจะขึ้นอยู่กับจำนวนแต้มสะสมของสมาชิก
          โดยระดับสมาชิก มี 4 ระดับ เรียงจากระดับสูงสุดไประดับเริ่มต้น ดังนี้ <br>
          <p>1.Platinum (สูงสุด)</p>
          <p>2.Diamond</p>
          <p>3.Gold</p>
          <p>4.Silver (เริ่มต้น)</p>
        </ion-label>
      </div>

      <div class="content-box">
        <ion-label class="text-head">การได้มาของแต้ม&nbsp;<span>(Point)</span></ion-label>
        <ion-label class="text-detail-style-1">โดยการได้มาของแต้มจะได้มาจาก 2 วิธี ได้แก่<br>
          <p>1.ยอดใช้จ่าย ในใบเสร็จ ( 1 บาท = 1 แต้ม )</p>
          <p>2.Frequency of Visits: 1 Visit = 50 แต้ม</p>
        </ion-label>
      </div>

      <div class="content-box">
        <ion-label class="text-head">การ Reranking ของระดับสมาชิก</ion-label>
        <ion-label class="text-detail-style-1">รอบของการ Reranking ของระดับสมาชิก จะ Rerank ทุก 6 เดือน
          (ทุกวันที่ 1 ก.ค. และ 31 ธ.ค. ของทุกปี)<br>
          <span>
            <b>รอบที่ 1</b><br>
            <p>ระยะเวลาการเก็บสะสมแต้ม: 7 ม.ค. - 30 มิ.ย. ของทุกปี
              วันที่ประกาศระดับสมาชิกใหม่: 1 ก.ค. ของทุกปี</p>
          </span>
          <span>
            <b>รอบที่ 2</b><br>
            <p>ระยะเวลาการเก็บสะสมแต้ม: 1 ก.ค. - 31 ธ.ค. ของทุกปี
              วันที่ประกาศระดับสมาชิกใหม่: 7 ก.ค. ของทุกปี</p>
          </span>
        </ion-label>
      </div>

    </div>
  </ng-template>
</ion-modal>