ion-toolbar {
    // --background: plum;
    --min-height: 110px;
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;

    // humberger
    ion-buttons {
        position: absolute;
        left: 0;
        top: 0;
        background: greenyellow;

        ion-menu-button {
            height: 48px;
            width: 48px;
        }
    }

    .header-box {

        .header-box-1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 65px;

            .header-box-1-left {
                width: 410px;
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 0 10px 0 40px;

                ion-button:first-child {
                    margin-right: 10px;
                }

                ion-button {
                    --background: var(--gray-color);
                    --color: var(--text-dark);
                    --border-radius: 23px;
                    height: 45px;
                    width: 160px;

                    ion-label {
                        font-size: 18px;
                        font-weight: var(--text-regular);
                    }
                }


                ion-button.select-tab-active {
                    --background: var(--dark-color);
                    --color: var(--text-white);
                }
            }

            .header-box-1-right {
                display: flex;
                justify-content: start;
                align-items: center;

                .search {
                    // position: fixed;
                    // width: 100%;
                    // display: contents;
                }

                .sortby {
                    font-size: 18px;
                    color: var(--text-dark2);
                    margin-right: 15px;
                }


                .popop {
                    // width: 100%;
                    margin: 0;
                    margin-right: 10px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    ion-select {
                        width: 150px;
                        height: 45px;
                        background: var(--gray-color);
                        color: var(--text-dark2);
                        font-size: 18px;
                        --placeholder-color: var(--text-dark2);
                        -webkit-text-fill-color: var(--text-dark2);
                        --placeholder-opacity: 1 !important;
                        // --padding-start: 10px;
                        --highlight-color-valid: transparent;
                        border-radius: 23px;
                    }

                    ion-select.css-pop::part(container) {
                        // background: blueviolet;
                        width: 110px;
                        height: 45px;
                        padding: 0 5px;
                        margin-left: 20px;
                        // border-radius: 6px;
                        text-align: center;
                        margin-right: -9px;
                    }

                    ion-select.css-pop::part(placeholder) {
                        // background: blueviolet;
                    }

                    ion-select.css-pop::part(icon) {
                        height: 25px;
                        width: 30px;
                        padding-right: 5px;
                        color: var(--dark-gray-color);
                        // transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
                    }

                    ion-select.css-pop.select-expanded::part(icon) {
                        // transform: rotate(0deg);
                        color: var(--dark-gray-color);
                    }

                }

                ion-button.btn-add-product {
                    width: 150px;
                    height: 45px;
                    --border-radius: 23px;
                    --background: var(--primary-color);
                    margin-right: 10px;

                    ion-label {
                        font-size: 18px;
                        color: var(--text-white);
                        span{
                            font-weight: var(--text-light);
                            margin-right: 10px;
                        }
                    }
                }

                .popop-dot {
                    // width: 100%;
                    margin: 0;
                    margin-right: 10px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    ion-select {
                        width: 31px;
                        height: 34px;
                        background: var(--gray-color);
                        color: var(--text-dark2);
                        font-size: 18px;
                        --placeholder-color: var(--text-dark2);
                        -webkit-text-fill-color: var(--text-dark2);
                        --placeholder-opacity: 1 !important;
                        // --padding-start: 10px;
                        --highlight-color-valid: transparent;
                        border-radius: 16px;
                    }

                    ion-select.css-pop-dot::part(icon) {
                        height: 24px;
                        width: 28px;
                        color: var(--dark-gray-color);
                        margin: 0;
                        // transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
                    }

                    ion-select.css-pop-dot.select-expanded::part(icon) {
                        // transform: rotate(0deg);
                        color: var(--dark-gray-color);
                    }

                }



            }
        }

        .header-box-2 {
            background: gold;
            height: 45px;
            padding-bottom: 4px;
        }
    }
}

ion-content{

    ion-card.carded{
        background: pink;
        width: 100%;
        height: 182px;
        margin: 10px;
        padding: 16px;
        display: flex;
        align-items: center;
        border-radius: 14px;
      ion-card-content{
        display: flex;
        align-items: center;
        background: plum;
        width: 100%;
        padding: 0;
        margin: 0;
        .box-img{
            width: 150px;
            height: 150px;
            border-radius: 16px;
            overflow: hidden;
            margin-right: 20px;
            img{
                height: 100%;
                width: 150px;
            }
        }
        .box-name{
            width: 21%;
            height: 182px;
            background: pink;
            margin-right: 20px;
        }
        .box-price{
            width: 17%;
            height: 182px;
            background: pink;
            margin-right: 20px;
        }
        .box-category{
            width: 17%;
            height: 182px;
            background: pink;
            margin-right: 20px;
        }
        .box-description{
            width: 17%;
            height: 182px;
            background: pink;
            margin-right: 20px;
        }
        .box-toggle{
            width: 8%;
            height: 182px;
            background: pink;
            margin-left: 10px;
            margin-right: 16px;
        }
      }
    }
}