<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>menu-managment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
sadsds

<div class="" style="display: flex; flex-direction: row;">
  <div class="" style="font-size: 54px; border: 1px solid red; padding: 5px;">
    <div class="text-extralight">AA</div>
    <div class="text-light">AA</div>
    <div class="">AA</div>
    <div class="text-medium">AA</div>
    <div class="text-bold ">AA</div>
  </div>
  
  <div class="" style="font-size: 54px; border: 1px solid greenyellow; padding: 5px;">
  <div style="font-weight: var(--text-extralight);">AA</div>
  <div style="font-weight: var(--text-light);">AA</div>
  <div style="font-weight: var(--text-regular);">AA</div>
  <div style="font-weight: var(--text-medium);">AA</div>
  <div style="font-weight: var(--text-bold);">AA</div>
  </div>
</div>


</ion-content>

