@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fadeIn-del {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideDown-del {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
ion-header {
    ion-toolbar {
        --background: #ffffff;
       


        .flex-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;

            height: 60px;
        }

        .title-header {
            font-size: 20px;
            font-weight: bold;
            color: #000000;
        
        }

        .total-table {
            font-size: 16px;
            color: #181818;
         
            font-size: 32px;

            .description {
                font-weight: normal;
                color: #000000;
              
                font-size: 23px;
            }

            .total-real {
                font-weight: normal;
                color: var(--primary-color);
                padding-left: 20px;
                font-size: 32px;
            }
        }
    }
}

.custom-section {
    display: flex;
    flex-direction: row;


    .section-left {
        display: flex;
        flex-direction: column;
        width: 45%;

        .title-th {
            font-size: 20px;
            
            padding-left: 27px;
            margin-top: 20px;
        }

        .flex-card {
            display: flex;
            flex-direction: column;

            .detail-zone1 {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 85px;
                align-items: center;
                font-size: 26px;
                margin-bottom: -17px;

                p {
                    color: rgb(87, 87, 87);
                }

                &:hover {
                    background-color: var(--primary-color);
            
                }

                &.selected {
                    background-color: var(--primary-color);
                 

                    p {
                        color: white;
                  
                    }
                }
            }

            .fade-in {
                animation: fadeIn 0.5s ease-in-out forwards, slideDown 0.5s ease-in-out forwards;
            }
            .fade-in-del {
                animation: fadeIn-del 0.5s ease-in-out forwards, slideDown-del 0.5s ease-in-out forwards;
            }

        }

        .custom-btn-addzone {

            display: flex;
            justify-content: center;
            margin-top: 35px;

            .add-zone {
                --border-radius: 30px;
                --background: #0091F2;
            }

            .add-zone p {
                padding: 0px 20px;
            }
            .del-zone {
                --border-radius: 30px;
                --background: #a5a5a5;
            }

            .del-zone p {
                padding: 0px 25px;
            }
        }
        
    }

    .section-right {

        .title-table-custom {
            display: flex;
            align-items: center;
            margin: 10px 45px;
            border-bottom: 2px solid #B6C0CF;
            justify-content: space-between;
              
            .right{
                ion-item{
                    // --background: #F1F4F9;
            
                .table-count {
                  font-size: 24px;
                  font-weight: bold;
                  margin: 0 10px;
                }
              
                .decrement-button,
                .increment-button {
                  width: 40px;
                  height: 40px;
                  --border-radius: 100%;
                  padding: 0;
              
                  ion-icon {
                    font-size: 24px;
                  }
                }
              
                .decrement-button {
                    --border-radius: 100%;
                 
                }
              
                .increment-button {
                  --border-radius: 100%;
                  
                }
            }
        }
            .zone-name {
                font-size: 27px;
                font-weight: 500;
                padding-left: 40px;
                color: black;
            }

            .number-table {
                font-size: 16px;
                padding-left: 30px;
                padding-top: 5px;

                span {
                    color: black;
                    font-weight: 500;
                }
            }
        }

        .table-custom {
            padding: 0px 124px;
            margin-top: 73px;

            .grid-cus {
                width: 100px;
                height: 100px;
                margin-top: -30px;
                border-radius: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--primary-light);
                color: white;
                
            }
        }
        .edite-total{
            display: flex;
            justify-content: end;
            margin-top: -15px;
            padding-right: 20px;
            .edit  {
                --background:var(--light-gray-color3);
                 p {
                    padding: 0px 25px;
                    color: black;
                }
            }
            .edit-save  {
                --background:var(--primary-color);
                 p {
                    padding: 0px 25px;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}