<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <div class="box-main">
    <div class="box-left">

      <div class="box-left-content-1">
        <ion-label>เมนูขายดี <span>(Sales Report by Item)</span></ion-label>
      </div>

      <div class="box-left-content-2">
        <ion-button class="btn-date" size="small" [ngClass]="{'select-period-active': select_period_number == 1}"
          (click)="select_period(1)">
          <ion-label>Today</ion-label>
        </ion-button>
        <ion-button class="btn-date" size="small" [ngClass]="{'select-period-active': select_period_number == 2}"
          (click)="select_period(2)">
          <ion-label>Week</ion-label>
        </ion-button>

        <div class="popop">
          <ion-select mode="md" [interfaceOptions]="customPopoverOptionsStyle1" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder="Month"
            interface="popover" [(ngModel)]="sort_month">
            <ion-select-option value="0">This Month</ion-select-option>
            <ion-select-option value="1">Jan 2024</ion-select-option>
            <ion-select-option value="2">Feb 2024</ion-select-option>
            <ion-select-option value="3">Mar 2024</ion-select-option>
            <ion-select-option value="4">Apr 2024</ion-select-option>
            <ion-select-option value="5">May 2024</ion-select-option>
            <ion-select-option value="6">June 2024</ion-select-option>
            <ion-select-option value="7">July 2024</ion-select-option>
            <ion-select-option value="8">Aug 2024</ion-select-option>
            <ion-select-option value="9">Seb 2024</ion-select-option>
            <ion-select-option value="10">Oct 2024</ion-select-option>
            <ion-select-option value="11">Nov 2024</ion-select-option>
            <ion-select-option value="12">Dec 2024</ion-select-option>
          </ion-select>
        </div>

        <div class="popop">
          <ion-select mode="md" [interfaceOptions]="customPopoverOptionsStyle1" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder="Year"
            interface="popover" [(ngModel)]="sort_month">
            <ion-select-option value="1">2024</ion-select-option>
            <ion-select-option value="2">2023</ion-select-option>
            <ion-select-option value="3">2022</ion-select-option>
            <ion-select-option value="4">2021</ion-select-option>
            <ion-select-option value="5">2020</ion-select-option>
            <ion-select-option value="6">2019</ion-select-option>
            <ion-select-option value="7">2018</ion-select-option>
            <ion-select-option value="8">2017</ion-select-option>
            <ion-select-option value="9">2016</ion-select-option>
            <ion-select-option value="10">2015</ion-select-option>
          </ion-select>
        </div>
        <ion-button class="btn-calendar" size="small" 
        (click)="openModalSelectDate()">
          <ion-icon name="calendar"></ion-icon>
        </ion-button>

      </div>

      <div class="box-left-content-3">
        <ion-label class="text-sub-date">
          Data of: <span>Month - May</span>
        </ion-label>
        <div class="box-chart">
          <apx-chart [series]="PieOptions.series" [chart]="PieOptions.chart" [labels]="PieOptions.labels"
            [colors]="PieOptions.colors" [legend]="PieOptions.legend" [responsive]="PieOptions.responsive"></apx-chart>

        </div>

      </div>

      <div class="box-left-content-2">
        <ion-button class="btn-date" size="small" [ngClass]="{'select-period-active': select_period_number == 1}"
          (click)="select_period(1)">
          <ion-label>Today</ion-label>
        </ion-button>
        <ion-button class="btn-date" size="small" [ngClass]="{'select-period-active': select_period_number == 2}"
          (click)="select_period(2)">
          <ion-label>Week</ion-label>
        </ion-button>

        <div class="popop">
          <ion-select mode="md" [interfaceOptions]="customPopoverOptionsStyle1" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder="Month"
            interface="popover" [(ngModel)]="sort_month">
            <ion-select-option value="0">This Month</ion-select-option>
            <ion-select-option value="1">Jan 2024</ion-select-option>
            <ion-select-option value="2">Feb 2024</ion-select-option>
            <ion-select-option value="3">Mar 2024</ion-select-option>
            <ion-select-option value="4">Apr 2024</ion-select-option>
            <ion-select-option value="5">May 2024</ion-select-option>
            <ion-select-option value="6">June 2024</ion-select-option>
            <ion-select-option value="7">July 2024</ion-select-option>
            <ion-select-option value="8">Aug 2024</ion-select-option>
            <ion-select-option value="9">Seb 2024</ion-select-option>
            <ion-select-option value="10">Oct 2024</ion-select-option>
            <ion-select-option value="11">Nov 2024</ion-select-option>
            <ion-select-option value="12">Dec 2024</ion-select-option>
          </ion-select>
        </div>

        <div class="popop">
          <ion-select mode="md" [interfaceOptions]="customPopoverOptionsStyle1" class="css-pop-3"
            toggleIcon="chevron-down-outline" expandedIcon="chevron-forward-outline" placeholder="Year"
            interface="popover" [(ngModel)]="sort_month">
            <ion-select-option value="1">2024</ion-select-option>
            <ion-select-option value="2">2023</ion-select-option>
            <ion-select-option value="3">2022</ion-select-option>
            <ion-select-option value="4">2021</ion-select-option>
            <ion-select-option value="5">2020</ion-select-option>
            <ion-select-option value="6">2019</ion-select-option>
            <ion-select-option value="7">2018</ion-select-option>
            <ion-select-option value="8">2017</ion-select-option>
            <ion-select-option value="9">2016</ion-select-option>
            <ion-select-option value="10">2015</ion-select-option>
          </ion-select>
        </div>

        <ion-button class="btn-calendar" size="small" 
        (click)="openModalSelectDate()">
          <ion-icon name="calendar"></ion-icon>
        </ion-button>

      </div>

      <div class="box-left-content-4">
        <ion-label class="text-sub-date">
          Data of: <span>Month - May</span>
        </ion-label>
        <div class="box-progress">
          <div class="box-progress-card" *ngFor="let item of [6,5,4,3,2,1];let i = index">
            <div class="box-progress-card-top">
              <ion-label>Food Category 1</ion-label>
              <div class="box-progress-card-top-right">
                <ion-label>฿ 9,000</ion-label>
                <ion-label>90%</ion-label>
              </div>
            </div>
            <div class="box-progress-card-bottom">
              <ion-progress-bar class="po-{{i+1}}" value="0.{{item}}"></ion-progress-bar>
            </div>


          </div>
        </div>
      </div>

    </div>
    <div class="box-right">
      <div class="box-right-content-1">
        <ion-label class="text-sub-box-right">เรียงตาม <span>(Short by)</span></ion-label>
        <ion-button class="btn-date" size="small" [ngClass]="{'select-period-active': select_period_number == 1}"
          (click)="select_period(1)">
          <ion-label>ยอดขาย</ion-label>
        </ion-button>
        <ion-button class="btn-date" size="small" [ngClass]="{'select-period-active': select_period_number == 2}"
          (click)="select_period(2)">
          <ion-label>ออเดอร์</ion-label>
        </ion-button>
        <div class="border-or"></div>
        <ion-button class="btn-date" size="small" [ngClass]="{'select-period-active': select_period_number == 1}"
          (click)="select_period(1)">
          <ion-label>มากไปน้อย</ion-label>
        </ion-button>
        <ion-button class="btn-date" size="small" [ngClass]="{'select-period-active': select_period_number == 2}"
          (click)="select_period(2)">
          <ion-label>น้อยไปมาก</ion-label>
        </ion-button>

      </div>
      <div class="box-right-content-2">

        <ion-grid class="box-table">
          <ion-row class="header">
            <ion-col size="auto" class="ion-text-center">
              <div class="col-head-1">
                <ion-label>ลำดับ</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-text-center">
              <div class="col-head-2">
                <ion-label>รายการ</ion-label>
              </div>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <div class="col-head-3">
                <ion-label>หมวดหมู่</ion-label>
              </div>

            </ion-col>
            <ion-col size="auto" class="ion-text-center">
              <div class="col-head-4">
                <ion-label>ออเดอร์</ion-label>
              </div>
            </ion-col>
            <ion-col size="auto" class="ion-text-center">
              <div class="col-head-5">
                <ion-label>สัดส่วน</ion-label>
              </div>

            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <div class="col-head-6">
                <ion-label>ยอดขาย</ion-label>
              </div>

            </ion-col>
          </ion-row>


          <div class="data-body">
            <ion-row class="data-row"
              *ngFor="let item of [1,2,3,4,5,6,7,8,9,1,1,2,3,4,5,6,6,7,8,9,0,4,4,5,6,7];let i = index;">
              <ion-col size="auto" class="ion-text-center">
                <div class="col-box-1">
                  <div class="box-color" [class]="'box-color-' + (i + 1)"></div>
                  <ion-label class="box-num">{{i+1}}</ion-label>
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <div class="col-box-2">
                  <div class="box-img">
                    <img src="assets/image/img-product.png" alt="">
                  </div>
                  <ion-label class="box-name">Food name</ion-label>
                </div>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <div class="col-box-3">
                  <ion-label>Food Category</ion-label>
                </div>

              </ion-col>
              <ion-col size="auto" class="ion-text-center">
                <div class="col-box-4">
                  <ion-label>90</ion-label>
                </div>
              </ion-col>
              <ion-col size="auto" class="ion-text-center">
                <div class="col-box-5">
                  <ion-label>20%</ion-label>
                </div>

              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <div class="col-box-6">
                  <ion-label>8,750.00</ion-label>
                </div>

              </ion-col>
            </ion-row>
          </div>


        </ion-grid>


      </div>
    </div>
  </div>

 

</ion-content>

<ion-button class="btn-export">Export PDF</ion-button>