// * {
//     font-family: "kanit-regular", sans-serif;
// }

:root {

    /*
=========================================================
======================== Fonts ==========================
=========================================================
*/
    // --ion-font-family: "kanit-regular", sans-serif;
    --ion-font-family: "kanit";
    --ion-font-family-light: "kanit-light", sans-serif;

    /*
=========================================================
===================== Background Colors =================
=========================================================
*/
    --primary-color: #37C839;
    --primary-second: #1492E6;
    --primary-light: #0091F2;
    --primary-light2: #3DABFF;
    // --primary-gradient-color: linear-gradient(90deg, rgba(24, 143, 241, 1) 0%, rgba(25, 99, 229, 1) 100%);
    --light-sky-blue:#EAF2F6;
    --white-color: #ffffff;
    --dark-color:#212121;
    --gray-color:#E7EBF1;
    --dark-gray-color: #838C98;
    // --dark-gray-color2: #E0E6EE;
    // --dark-gray-color3: #AFAFAF;
    // --dark-gray-color4: #EAEFF6;
    // --dark-gray-color5: #ADB5CC;
    --light-gray-color3: #F1F4F9;
    // --light-gray-mono: #E7ECF2;
    // --light-gray-mono2: #E8EAED;
    // --light-blue: #DFECFD;
    // --light-blue2: #E2F6FF;
    // --green-color-light: #8FCC20;
    // --dark-green-color: #30B536;
    // --green-color: #2FB132;
    // --green-color2:#4DB54F;
    // --green-colo3:#00B406;
    --red-color: #FF5555;
    // --red-color2:#FC595E;
    // --red-color3:#F86363;
    // --dark-red-color:#EB3325;
    // --brown-color: #707070;
    // --dark-brown-color: #A1A1A1;
    // --darked-brown-color: #545454;
    // --color-gray-border:#D5DEE5;
    // --darked-brown-color2: #4B4B4B;

    /*
=========================================================
===================== Text-Colors =======================
=========================================================
*/
    --text-primary: #37C839;
    --text-primary-second: #1492E6;
    // --text-second-memba: #199CEB;
    --text-white: #ffffff;
    --text-dark: #212121;
    --text-dark2: #000000;
    // --text-mono-dark: #232323;
    // --text-mono-dark2: #383838;
    // --text-mono-dark3: #5c5c5c;
    // --text-dark-plachoder: #949494;
    // --text-oranged: #F7941D;
    // --text-redges: #F92229;
    /*
=========================================================
============== Font-Weight For CSS File =================
* ตัวแปรสำหรับเรียกใช้ขนาด Font ในไฟล์ css (font-weight )
  ** Example : font-weight: var(--text-regular);
=========================================================*/
    --text-extralight: 100;
    --text-light: 300;
    --text-regular: 400;
    --text-medium: 500;
    --text-bold: 700;
    // ======================================================
    //dark-mode
    // --dark-primary-color: #20232A;
    // --dark-card-color: #41454a;

}

/*
=========================================================
============== Font-Weight For HTML File ================
* ตัวแปรสำหรับเรียกใช้ขนาด Font ในไฟล์ HTML (font-weight)
  ** Example : <div class="text-light">Banana</div>
=========================================================*/

.text-extralight {
   font-weight: var(--text-extralight);
}

.text-light {
    font-weight: var(--text-light);
}

.text-regular {
    font-weight: var(--text-regular);
}

.text-medium {
    font-weight: var(--text-medium);
}

.text-bold {
    font-weight: var(--text-bold);
}


@media (prefers-color-scheme: dark) {
    :root {
        // --text-mono-dark: #ffffff;
        // --text-mono-dark2: #ffffff;
        // --dark-brown-color: #ffffff;
        //    --text-primary: #ffffff;
        //    --text-label: #ffffff;
        //    --text-white: #ffffff;
        //    --text-dark-gray: #5F6676;
        //    --text-gray-line-color: #9EA2AC;
    }

}
