// * {
//     font-family: "kanit-regular", sans-serif;
// }

:root {

    /*
=========================================================
======================== Fonts ==========================
=========================================================
*/
    // --ion-font-family: "kanit-regular", sans-serif;
    --ion-font-family: "kanit";
    --ion-font-family-light: "kanit-light", sans-serif;

    /*
=========================================================
===================== Background Colors =================
=========================================================
*/
    --primary-color: #37C839;
    --primary-color-hover: #11C542;
    --primary-second: #1492E6;
    --primary-light: #0091F2;
    --primary-light2: #3DABFF;
    // --primary-gradient-color: linear-gradient(90deg, rgba(24, 143, 241, 1) 0%, rgba(25, 99, 229, 1) 100%);
    --light-sky-blue:#EAF2F6;
    --white-color: #ffffff;
    --light-gray-color: #F5F5F7;
    --dark-color:#212121;
    --gray-color:#E7EBF1;
    --dark-gray-color: #838C98;
    --dark-gray-color2: #B6C0CF;
    --dark-gray-color3: #D5DADF;
    --dark-gray-color4: #CED5DB;
    --dark-gray-color5: #E0F0FA;
    --light-gray-color3: #F1F4F9;
    --light-gray-color3-1:#F4F6F8;
    --light-gray-color4:#F3F7FF;
    
    // --light-gray-mono: #E7ECF2;
    // --light-gray-mono2: #E8EAED;
    // --light-blue: #DFECFD;
    // --light-blue2: #E2F6FF;
    --dark-yellow:#FCBD0C;
    --dark-brown:#5B5B5B;
    // --green-color-light: #8FCC20;
    // --dark-green-color: #30B536;
    --green-color: #1BC64A;
    // --green-color2:#4DB54F;
    // --green-colo3:#00B406;
    --red-color: #FF5555;
    // --red-color2:#FC595E;
    // --red-color3:#F86363;
    // --dark-red-color:#EB3325;
    --brown-color: #707070;
    --dark-brown-color: #ECECEC;
    // --darked-brown-color: #545454;
    --color-gray-border:#DEE9FF;
    // --darked-brown-color2: #4B4B4B;
    --danger-color: #FF5555;
    --progress-color-1:#2D9881;
    --progress-color-2:#65C77C;
    --progress-color-3:#C5E880;
    --progress-color-4:#FBC033;
    --progress-color-5:#FE8100;
    --progress-color-6:#FF5555;

    --box-radio-color-1:#FD8800;
    --box-radio-color-2:#8A82F9;
    --box-radio-color-3:#8EBFF3;
    --box-radio-color-4:#ABC760;
    --box-radio-color-5:#DAD961;
    --box-radio-color-6:#C3C198;
    --box-radio-color-7:#AFAFAF;

    --box-type-color-1:#838C98;
    --box-type-color-2:#DB81D2;
    --box-type-color-3:#FFCB37;
    --box-type-color-4:#E7EBF1;
    --box-type-color-5:#11C542;


    /*
=========================================================
===================== Text-Colors =======================
=========================================================
*/
    --text-primary: #37C839;
    --text-primary-orage: #FE8100;
    --text-primary-red:#F12A2A;
    --text-primary-second: #1492E6;
    --text-primary-blue: #0069F2;
    // --text-second-memba: #199CEB;
    --text-white: #ffffff;
    --text-dark: #212121;
    --text-dark2: #000000;
    --text-dark3:#1D1D1F;
    --text-mono-dark: #232323;
    --text-sub-light-gray:#979797;
    // --text-mono-dark2: #383838;
    // --text-mono-dark3: #5c5c5c;
    // --text-dark-plachoder: #949494;
    // --text-oranged: #F7941D;
    // --text-redges: #F92229;
    /*
=========================================================
============== Font-Weight For CSS File =================
* ตัวแปรสำหรับเรียกใช้ขนาด Font ในไฟล์ css (font-weight )
  ** Example : font-weight: var(--text-regular);
=========================================================*/
    --text-extralight: 100;
    --text-light: 300;
    --text-regular: 400;
    --text-medium: 500;
    --text-bold: 700;
    // ======================================================
    //dark-mode
    // --dark-primary-color: #20232A;
    // --dark-card-color: #41454a;

}

/*
=========================================================
============== Font-Weight For HTML File ================
* ตัวแปรสำหรับเรียกใช้ขนาด Font ในไฟล์ HTML (font-weight)
  ** Example : <div class="text-light">Banana</div>
=========================================================*/

.text-extralight {
   font-weight: var(--text-extralight);
}

.text-light {
    font-weight: var(--text-light);
}

.text-regular {
    font-weight: var(--text-regular);
}

.text-medium {
    font-weight: var(--text-medium);
}

.text-bold {
    font-weight: var(--text-bold);
}


@media (prefers-color-scheme: dark) {
    :root {
        // --text-mono-dark: #ffffff;
        // --text-mono-dark2: #ffffff;
        // --dark-brown-color: #ffffff;
        //    --text-primary: #ffffff;
        //    --text-label: #ffffff;
        //    --text-white: #ffffff;
        //    --text-dark-gray: #5F6676;
        //    --text-gray-line-color: #9EA2AC;
    }

}
