<ion-app>
  <ion-split-pane contentId="main-content" class="scrollerBar">
    <ion-menu
      contentId="main-content"
      type="overlay"
      [ngClass]="menuTogle ? 'max-w-64 ' : ' md:max-w-16 lg:max-w-64'"
    >
      <!-- class="md:max-w-16 lg:max-w-[250px] scrollerBar p-0 m-0" -->
      <ion-content class="scrollerBar">
        <ion-button (click)="togle()" class="lg:!hidden">-</ion-button>
        <ion-list id="inbox-list" class="scrollerBar" class="p-0 m-0">
          <ion-menu-toggle
            id="inner-remove"
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              routerLinkActive="selected"
              mode="ios"
              class="inner-remove"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [name]="p.icon + '-outline'"
                [ngClass]="menuTogle ? 'lg:pr-1 ' : 'md:p-0 md:m-0 lg:pr-1 '"
              ></ion-icon>
              <!-- class=" max-lg:!hidden"  -->
              <ion-label
                mode="ios"
                [ngClass]="
                  menuTogle
                    ? 'lg:w-[250px]'
                    : 'max-lg:!hidden md:w-16 lg:w-[250px]'
                "
                >{{ p.title }}</ion-label
              >
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list" mode="ios">
          <!-- <ion-list-header mode="ios">Labels</ion-list-header> -->

          <!-- <ion-item *ngFor="let label of labels" lines="none" mode="ios">
            <ion-icon
              aria-hidden="true"
              slot="start"
              ios="bookmark-outline"
              md="bookmark-sharp"
              mode="ios"
            ></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item> -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- <ion-menu-toggle [autoHide]="false">
      <ion-button (click)="togle()">Click to close the menu</ion-button>
    </ion-menu-toggle> -->

    <ion-router-outlet id="main-content" mode="ios"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
