.card-top-one{
    width: 385px;
    height: 427px;
}
.card-top-two{
    width: 385px;
    height: 427px;
}
.card-top-tree{
    width: 385px;
    height: 427px;
}
.card-buttom-one{
    width: 370px;
    height: 311px;
}
.card-buttom-two{
    width: 514px;
    height: 311px;
}
.card-buttom-tree{
    width: 240px;
    height: 257px;
}