<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
 <div class="grid grid-cols-3 gap-4">
<ion-card class="card-top-one">
  <p>1</p>
</ion-card>
<ion-card class="card-top-two">
  <p>2</p>
</ion-card>
<ion-card  class="card-top-tree">
  <p>3</p>
</ion-card>
<ion-card class="card-buttom-one">
  <p>4</p>
</ion-card>
<ion-card class="card-buttom-two">
  <p>5</p>
</ion-card>
<ion-card class="card-buttom-tree">
  <p>6</p>
</ion-card>
 </div>
</ion-content>
 