<ion-content [fullscreen]="true">

  <div class="flex-all flex flex-row flex-wrap">
    <!-- <div class="report-top"> -->
      <div class="report-top-left basis-full md:basis-1/2 lg:basis-1/3">
        <ion-card class="card-top-left">
          <div class="header-card-top-one">
            <p class="sale-amount-th">ยอดขายวันนี้</p>
            <p class="sale-amount-en">(Total Sales Amount)</p>
          </div>
          <div class="total-number">
            <p class="p-total-number">6,634.00</p>
            <p class="p-bath">บาท</p>
          </div>
          <div class="cash-money-length">
    
            <div class="length-text-top">
              <div>เงินโอน</div>
              <div>4,643.80</div>
              <div class="length-score-money">
                <div class="length-sum-a">
    
                </div>
              </div>
              <div>70.0%</div>
            </div>
    
    
            <div class="length-text-bottom">
              <div>เงินสด</div>
              <div>1,990.20</div>
              <div class="length-score-cash">
                <div class="length-sum-b">
    
                </div>
              </div>
              <div>30.0%</div>
    
            </div>
          </div>
          <div class="report-all">
            <div class="sales">
              <p class="sales-text">ยอดขายก่อนส่วนลด และ ภาษี</p>
              <p class="sales-number">7,200.00</p>
            </div>
            <div class="discount">
              <p class="discount-text"> ส่วนลด รวม</p>
              <p class="discount-number">-1000.00</p>
    
            </div>
            <div class="after-deducting">
              <p class="after-deducting-text" > ยอดขายหลังหักส่วนลด</p>
              <p class="after-deducting-number" >6,200.00</p>
    
            </div>
            <div class="vat">
              <p class="vat-text"> VAT 7%</p>
              <p class="vat-number">+434.00</p>
    
            </div>
            <div class="vat-all">
              <p class="vat-all-text"> ยอดขายหลังส่วนลด รวม Vat</p>
              <p class="vat-all-number">6,634.00</p>
            </div>
          </div>
        </ion-card>
      </div>
      <div class="report-top-mid basis-full md:basis-1/2 lg:basis-1/3">
        <div class="card-top-mid" >
          <ion-grid class="grid-custom">
            <ion-row class="row-custom">
              <ion-col class="col-custom" size="4"><ion-card class="card-cus"><div class="card-cus-in01"><p class="top">ยังไม่เช็กบิล</p><p class="mid">10<span>/20</span> </p><p class="button"> <span>THB</span> 5,600.00</p></div></ion-card></ion-col>
              <ion-col class="col-custom" size="4"><ion-card class="card-cus"><p>เช็กบิลแล้ว</p></ion-card></ion-col> 
              <ion-col class="col-custom" size="4"><ion-card class="card-cus"><p>เฉลี่ย/บิล</p></ion-card></ion-col>
              <ion-col class="col-custom" size="4"><ion-card class="card-cus"><p>ทานที่ร้าน</p></ion-card></ion-col>
              <ion-col class="col-custom" size="4"><ion-card class="card-cus"><p>สั่งกลับบ้าน</p></ion-card></ion-col>
              <ion-col class="col-custom" size="4"><ion-card class="card-cus"><p>6</p></ion-card></ion-col>
              <ion-col class="col-custom" size="4"><ion-card class="card-cus"><p>ยกเลิกบิล</p></ion-card></ion-col>
              <ion-col class="col-custom" size="4"><ion-card class="card-cus"><p>Time spent</p></ion-card></ion-col>
              <ion-col class="col-custom" size="4"><ion-card class="card-cus"><p>yesterday</p></ion-card></ion-col>
          </ion-row>
          </ion-grid>
        </div>
      </div>

      <div class="report-top-right basis-full md:basis-1/2 lg:basis-1/3">
        <ion-card  class="card-top-right">
          3
        </ion-card>
      </div>
    <!-- </div> -->
    <!-- <div class="report-button"> -->
      <div class="report-button-left basis-full md:basis-1/2 lg:basis-1/3">
        <ion-card  class="card-button-left">
          <p>4</p>
        </ion-card>
      </div>
      <div class="report-button-mid basis-full md:basis-1/2 lg:basis-1/3">
        <ion-card class="card-button-mid">
          5
        </ion-card>
      </div>

      <div class="report-button-right basis-full md:basis-1/2 lg:basis-1/3">
        <ion-card class="card-button-right">
          6
        </ion-card>
      </div>
    </div>
  <!-- </div> -->

</ion-content>