/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

// * {
//    margin: 0;
//    padding: 0;
//    box-sizing: border-box;
// }
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/*
===================================================
==================== CSS Custom ===================
===================================================
*/
@import "../src/theme/setting-font.scss";

// @font-face {
//   font-family: "Kanit", sans-serif;

//   src: url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'");
// }

// =============================================================
// ================= Font Kanit  ===================
// =============================================================
@font-face {
  font-family: "kanit";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/Kanit/Kanit-ExtraLight.ttf");
}

@font-face {
  font-family: "kanit";
  font-style: light;
  font-weight: 300;
  src: url("./assets/fonts/Kanit/Kanit-Light.ttf");
}

@font-face {
  font-family: "kanit";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Kanit/Kanit-Regular.ttf");
}

@font-face {
  font-family: "kanit";
  font-style: medium;
  font-weight: 500;
  src: url("./assets/fonts/Kanit/Kanit-Medium.ttf");
}

@font-face {
  font-family: "kanit";
  font-style: bold;
  font-weight: 700;
  src: url("./assets/fonts/Kanit/Kanit-Bold.ttf");
}

.fullscreen {
  --width: 100% !important;
  --height: 100% !important;
  --border-radius: none;
}

ion-button.ios {
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --border-style: none;
  --opacity: 1;
}

ion-button {
  text-transform: capitalize;
}

.nodalscreen {
  --width: 80% !important;
  --height: 80% !important;
}

.scrollerBar {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.split-pane-visible>.split-pane-side {
  min-width: 55px !important;
  max-width: 55px !important;
}


.hide-hamburger ion-header {
  ion-menu-button {
    display: none;
  }
}

//===============================================
//=================  CSS ion-searchbar ==========
//===============================================
ion-searchbar.searches-fuller {
  --box-shadow: none;
  padding-inline-end: 20px;

  .searchbar-input-container {

    //    background: plum!important;
    input {
      // margin-left: 40px;
      background: var(--light-gray-color3) !important;
      width: 233px;
      height: 45px;
      font-size: 18px;
      padding: 7px 38px;
      border-radius: 22px;
      font-weight: var(--text-light);
      border: 1px solid var(--dark-gray-color);
    }

    ion-icon {
      inset-inline-start: 6px;
      background: transparent !important;
      color: var(--text-dark);
      width: 30px;
      height: 22px;
    }

    button[aria-label="reset"] {
      background: transparent !important;
      width: 40px;
      padding-top: 8px;
      inset-inline-end: 0px;
    }
  }
}

//===============================================
//=================  CSS ion-popover ==========
//===============================================


// ion-popover style-1
ion-popover.my-custom-customPopover-select-style-1 {
  --min-width: 163px;
  --width: fit-content;

  // margin-top: 10px;
  // margin-right: 40px;
  // background: rgba(40, 173, 218, 0.6);
  ion-select-popover {
    ion-list {
      padding: 14px 0;

      ion-item {
        // width: 100%;
        --min-height: 40px;
        text-align: center;
        font-size: 12px;
        font-weight: var(--text-light);
        color: var(--text-dark);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;

      }

      ion-item.item-radio-checked::part(native) {
        background: var(--light-sky-blue);
        font-weight: var(--text-regular);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover-opacity: 1;
        color: var(--text-dark);
      }



      ion-item ion-radio {
        // background: plum;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      ion-item:last-child {
        color: var(--primary-color);
      }

      // ion-item:not(:last-child) {
      //   border-bottom: 1px solid var(--light-gray-color3);
      // }

      ion-item:hover,
      ion-item:focus,
      ion-item:active {
        // --background: var(--light-sky-blue);
        --background: transparent;
        --color: var(--primary-light2);
      }
    }

  }
}

ion-popover.my-custom-customPopover-select-style-1::part(content) {
  margin-top: 5px;
  border-radius: 12px;
}

ion-popover.my-custom-customPopover-select-style-1::part(backdrop) {
  background: var(--text-dark);
  --backdrop-opacity: 0.2;
}

// ion-popover style-2
ion-popover.my-custom-customPopover-select-style-2 {
  --min-width: 163px;
  --width: fit-content;

  // margin-top: 10px;
  // margin-right: 40px;
  // background: rgba(40, 173, 218, 0.6);
  ion-select-popover {
    ion-list {
      padding: 14px 0;

      ion-item {
        // width: 100%;
        --min-height: 40px;
        text-align: center;
        font-size: 12px;
        font-weight: var(--text-light);
        color: var(--text-dark);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;

      }

      ion-item.item-radio-checked::part(native) {
        background: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover-opacity: 1;
      }

      ion-item ion-radio {
        // background: plum;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      ion-item:hover,
      ion-item:focus,
      ion-item:active {
        --background: transparent;
        --color: var(--primary-light2);
      }
    }

  }
}

ion-popover.my-custom-customPopover-select-style-2::part(content) {
  margin-top: 28px;
  border-radius: 12px;
}

// ion-popover style-3 multi select
ion-popover.my-custom-customPopover-multiSelect {
  --min-width: 180px;
  // --width: fit-content;
  --width: calc(30% - 220px);

  // width: calc(30% - 161px);
  // margin-top: 10px;
  // margin-right: 40px;
  // background: rgba(40, 173, 218, 0.6);
  ion-select-popover {
    &::-webkit-scrollbar {
      display: none;
      /* ความกว้าง scrollbar */
      width: 0.325rem;
    }

    // &::-webkit-scrollbar-track{
    //     /* สีพื้นหลังแนว scrollbar */
    //     background: var(--light-gray-color3);
    // }
    // &::-webkit-scrollbar-thumb {
    //     /* สีพื้นหลังตัว scrollbar*/
    //     background: var(--primary-color);
    //     // border-radius:0 12px 12px 0;
    //     border-radius: 10px;

    // }
    ion-list {
      padding: 14px 0;

      ion-item {
        // width: 100%;
        --min-height: 60px;
        text-align: center;
        font-size: 12px;
        font-weight: var(--text-light);
        color: var(--text-dark);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;

        ion-checkbox {
          display: table;
          // margin-bottom: 20px;
          color: var(--text-mono-dark2);
          --checkmark-width: 5px;
          --checkmark-color: var(--white-color);
          margin-right: 10px;
        }

        ion-checkbox::part(container) {
          width: 22px;
          height: 22px;
          border-radius: 6px;
          border: 2px solid var(--dark-gray-color2);
          padding: 4px;
        }

        ion-checkbox::part(mark) {
          background: none;
          transition: none;
          transform: none;
          border-radius: 0;
        }

        ion-checkbox.checkbox-checked::part(container) {
          background: var(--primary-color);
          border-color: transparent;
        }
      }

      ion-item.item-checkbox-checked::part(native) {
        background: var(--light-sky-blue);
        font-weight: var(--text-regular);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover-opacity: 1;
        color: var(--text-dark);
      }

      ion-item:hover,
      ion-item:focus,
      ion-item:active {
        // --background: var(--light-sky-blue);
        --background: transparent;
        --color: var(--primary-light2);
      }
    }



  }
}

ion-popover.my-custom-customPopover-multiSelect::part(content) {
  margin-top: 8px;
  border-radius: 12px;
}

ion-popover.my-custom-customPopover-multiSelect::part(backdrop) {
  background: var(--text-dark);
  --backdrop-opacity: 0.2;
}

// ion-popover style-4 multi select V2
ion-popover.my-custom-customPopover-multiSelect-2 {
  --min-width: 180px;
  // --width: fit-content;
  --width: calc(30% - 220px);

  // width: calc(30% - 161px);
  // margin-top: 10px;
  // margin-right: 40px;
  // background: rgba(40, 173, 218, 0.6);
  ion-select-popover {
    &::-webkit-scrollbar {
      display: none;
      /* ความกว้าง scrollbar */
      // width: 0.325rem;
    }

    // &::-webkit-scrollbar-track{
    //     /* สีพื้นหลังแนว scrollbar */
    //     background: var(--light-gray-color3);
    // }
    // &::-webkit-scrollbar-thumb {
    //     /* สีพื้นหลังตัว scrollbar*/
    //     background: var(--primary-color);
    //     // border-radius:0 12px 12px 0;
    //     border-radius: 10px;

    // }
    ion-list {
      padding: 14px 0;

      ion-item {
        // width: 100%;
        --min-height: 60px;
        text-align: center;
        font-size: 12px;
        font-weight: var(--text-light);
        color: var(--text-dark);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;

        ion-checkbox {
          // margin-bottom: 20px;
          color: var(--text-mono-dark2);
          --checkmark-width: 4px;
          --checkmark-color: var(--text-dark2);
          // margin-right: 10px;
          margin: 0;
          display: flex;
          flex-direction: column;
          padding: 0 15px;
          text-align: center;
          align-items: center;
        }

        ion-checkbox::part(container) {
          width: 15px;
          height: 15px;
          padding: 0px;
          margin: 0;
          position: absolute;
          right: 0px;
          border: none;
          outline: none;
          background: transparent;
        }

        ion-checkbox::part(mark) {
          background: none;
          transition: none;
          transform: none;
          border-radius: 0;
        }

        ion-checkbox.checkbox-checked::part(container) {
          background: transparent;
          border-color: transparent;
        }
      }

      ion-item::part(native) {
        padding: 0 !important;

        .item-inner {
          padding: 0;
        }
      }

      ion-item.item-checkbox-checked::part(native) {
        background: var(--light-sky-blue);
        font-weight: var(--text-regular);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover-opacity: 1;
        color: var(--text-dark);
      }

      ion-item:hover,
      ion-item:focus,
      ion-item:active {
        --background: transparent;
        --color: var(--primary-light2);
      }
    }



  }
}

ion-popover.my-custom-customPopover-multiSelect-2::part(content) {
  margin-top: 8px;
  border-radius: 12px;
  background: plum !important;
}

ion-popover.my-custom-customPopover-multiSelect-2::part(backdrop) {
  background: var(--text-dark);
  --backdrop-opacity: 0.2;
}


//===============================================
//=================  CSS ion-input ==============
//===============================================
ion-input.custom-ion-input-name {
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  --border-style: none;
  --highlight-color-focused: none;
  --highlight-color-invalid: none;
  --highlight-color-valid: none;
  --placeholder-color: var(--dark-gray-color);
  --color: var(--text-dark2);
  --placeholder-opacity: 0.8;
  // font-weight: var(--text-light);
  // --padding-top: 0;
  // --padding-start:20px;
  // --padding-end:15px;
  // --border-radius:6px;
}

ion-input.custom-ion-input-name input[type="text"],
ion-input.custom-ion-input-name input[type="tel"],
ion-input.custom-ion-input-number input[type="number"] {
  outline: none;
  border-radius: 6px;
  background: var(--light-gray-color3);
  padding: 7px 15px;
  height: 35px;
  border: none;
  // border: 1px solid var(--dark-gray-color);
}

ion-input.custom-ion-input-name.active-edit input[type="text"],
ion-input.custom-ion-input-name.active-edit input[type="tel"],
ion-input.custom-ion-input-number.active-edit input[type="number"] {
  // outline: none;
  background: var(--white-color);
  border: 1px solid var(--dark-gray-color);
}

// ซ่อนลูกศร ขึ้น-ลง ใน input type number

ion-input.custom-ion-input-number input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

ion-input.custom-ion-input-number input[type="number"]::-webkit-inner-spin-button,
.custom-ion-input-number input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

ion-input.custom-ion-input-number input[type="number"]:focus {
  // border: none;
  outline: none;
}