/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

// * {
//    margin: 0;
//    padding: 0;
//    box-sizing: border-box;
// }
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/*
===================================================
==================== CSS Custom ===================
===================================================
*/
@import "../src/theme/setting-font.scss";

// @font-face {
//   font-family: "Kanit", sans-serif;

//   src: url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'");
// }

// =============================================================
// ================= Font Kanit  ===================
// =============================================================
@font-face {
  font-family: "kanit";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/Kanit/Kanit-ExtraLight.ttf");
}

@font-face {
  font-family: "kanit";
  font-style: light;
  font-weight: 300;
  src: url("./assets/fonts/Kanit/Kanit-Light.ttf");
}

@font-face {
  font-family: "kanit";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Kanit/Kanit-Regular.ttf");
}

@font-face {
  font-family: "kanit";
  font-style: medium;
  font-weight: 500;
  src: url("./assets/fonts/Kanit/Kanit-Medium.ttf");
}

@font-face {
  font-family: "kanit";
  font-style: bold;
  font-weight: 700;
  src: url("./assets/fonts/Kanit/Kanit-Bold.ttf");
}

.fullscreen {
  --width: 100% !important;
  --height: 100% !important;
  --border-radius: none;
}

.my-custom-modal-fullscreen {
  --ion-background-color: var(--white-color);
  --height: 100%;
  --width: 100%;
  --border-radius: 0px;
}

.modal-pos-type {
  --width: 50% !important;
  --height: 80% !important;
  --border-radius: 20px;
}
.modal-pos-cancle1{

  font-family: "kanit";
  --width: 50% !important;
  --height: 50% !important;
  --border-radius: 20px;
}
.modal-pos-member{

  font-family: "kanit";
  --width: 50% !important;
  --height: 95% !important;
  --border-radius: 20px;
}
.modal-pos-calculate{
  font-family: "kanit";
  --width: 45% !important;
  --height: 90% !important;
  --border-radius: 20px;
}

.modal-pos-cancle {

  font-family: "kanit";
  --width: 50% !important;
  --height: 90% !important;
  --border-radius: 20px;
}

// ion-split-pane{
//   background: var(--light-gray-color3);
// }

ion-button.ios {
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --border-style: none;
  --opacity: 1;
}

ion-button {
  text-transform: capitalize;
}

.nodalscreen {
  --width: 80% !important;
  --height: 80% !important;
}

.scrollerBar {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.split-pane-visible>.split-pane-side {
  min-width: 55px !important;
  max-width: 55px !important;
}


.hide-hamburger ion-header {
  ion-menu-button {
    display: none;
  }
}

//===============================================
//=================  CSS ion-searchbar ==========
//===============================================
ion-searchbar.searches-fuller {
  --box-shadow: none;
  padding-inline-end: 20px;

  .searchbar-input-container {

    //    background: plum!important;
    input {
      // margin-left: 40px;
      background: var(--light-gray-color3) !important;
      width: 233px;
      height: 45px;
      font-size: 18px;
      padding: 7px 38px;
      border-radius: 22px;
      font-weight: var(--text-light);
      border: 1px solid var(--dark-gray-color);
    }

    ion-icon {
      inset-inline-start: 6px;
      background: transparent !important;
      color: var(--text-dark);
      width: 30px;
      height: 22px;
    }

    button[aria-label="reset"] {
      background: transparent !important;
      width: 40px;
      padding-top: 8px;
      inset-inline-end: 0px;
    }
  }
}

ion-searchbar.searches-foodses {
  --box-shadow: none;
  padding-inline-end: 10px;

  .searchbar-input-container {

    //    background: plum!important;
    input {
      // margin-left: 40px;
      background: var(--light-gray-color3) !important;
      // width: 233px;
      height: 45px;
      font-size: 18px;
      padding: 7px 38px;
      border-radius: 25px;
      font-weight: var(--text-light);
      // border: 1px solid var(--dark-gray-color);
      padding-inline-start: 50px !important;
    }

    ion-icon {
      padding-top: 8px;
      inset-inline-start: 8px;
      background: transparent !important;
      color: var(--dark-gray-color);
      width: 40px;
      height: 30px;
    }

    button[aria-label="reset"] {
      background: transparent !important;
      width: 40px;
      // padding-top: 8px;
      inset-inline-end: 4px;
    }
  }
}

//===============================================
//=================  CSS ion-popover ==========
//===============================================


// ion-popover style-1
ion-popover.my-custom-customPopover-select-style-1 {
  --min-width: 163px;
  --width: fit-content;

  // margin-top: 10px;
  // margin-right: 40px;
  // background: rgba(40, 173, 218, 0.6);
  ion-select-popover {
    ion-list {
      padding: 14px 0;

      ion-item {
        // width: 100%;
        --min-height: 40px;
        text-align: center;
        font-size: 12px;
        font-weight: var(--text-light);
        color: var(--text-dark);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;

      }

      ion-item.item-radio-checked::part(native) {
        background: var(--light-sky-blue);
        font-weight: var(--text-medium);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover-opacity: 1;
        color: var(--text-dark);
      }



      ion-item ion-radio {
        // background: plum;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      ion-item:last-child {
        color: var(--primary-color);
      }

      // ion-item:not(:last-child) {
      //   border-bottom: 1px solid var(--light-gray-color3);
      // }

      ion-item:hover,
      ion-item:focus,
      ion-item:active {
        // --background: var(--light-sky-blue);
        --background: transparent;
        --color: var(--primary-light2);
      }
    }

  }
}

ion-popover.my-custom-customPopover-select-style-1::part(content) {
  margin-top: 5px;
  border-radius: 12px;
}

ion-popover.my-custom-customPopover-select-style-1::part(backdrop) {
  background: var(--text-dark);
  --backdrop-opacity: 0.2;
}

// ion-popover style-2
ion-popover.my-custom-customPopover-select-style-2 {
  --min-width: 163px;
  --width: fit-content;

  // margin-top: 10px;
  // margin-right: 40px;
  // background: rgba(40, 173, 218, 0.6);
  ion-select-popover {
    ion-list {
      padding: 14px 0;

      ion-item {
        // width: 100%;
        --min-height: 40px;
        text-align: center;
        font-size: 12px;
        font-weight: var(--text-light);
        color: var(--text-dark);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;

      }

      ion-item.item-radio-checked::part(native) {
        background: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover-opacity: 1;
      }

      ion-item ion-radio {
        // background: plum;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      ion-item:hover,
      ion-item:focus,
      ion-item:active {
        --background: transparent;
        --color: var(--primary-light2);
      }
    }

  }
}

ion-popover.my-custom-customPopover-select-style-2::part(content) {
  margin-top: 28px;
  border-radius: 12px;
}

// ion-popover style-3 multi select
ion-popover.my-custom-customPopover-multiSelect {
  --min-width: 180px;
  // --width: fit-content;
  --width: calc(30% - 220px);

  // width: calc(30% - 161px);
  // margin-top: 10px;
  // margin-right: 40px;
  // background: rgba(40, 173, 218, 0.6);
  ion-select-popover {
    &::-webkit-scrollbar {
      display: none;
      /* ความกว้าง scrollbar */
      width: 0.325rem;
    }

    // &::-webkit-scrollbar-track{
    //     /* สีพื้นหลังแนว scrollbar */
    //     background: var(--light-gray-color3);
    // }
    // &::-webkit-scrollbar-thumb {
    //     /* สีพื้นหลังตัว scrollbar*/
    //     background: var(--primary-color);
    //     // border-radius:0 12px 12px 0;
    //     border-radius: 10px;

    // }
    ion-list {
      padding: 14px 0;

      ion-item {
        // width: 100%;
        --min-height: 60px;
        text-align: center;
        font-size: 12px;
        font-weight: var(--text-light);
        color: var(--text-dark);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;

        ion-checkbox {
          display: table;
          // margin-bottom: 20px;
          color: var(--text-mono-dark2);
          --checkmark-width: 5px;
          --checkmark-color: var(--white-color);
          margin-right: 10px;
        }

        ion-checkbox::part(container) {
          width: 22px;
          height: 22px;
          border-radius: 6px;
          border: 2px solid var(--dark-gray-color2);
          padding: 4px;
        }

        ion-checkbox::part(mark) {
          background: none;
          transition: none;
          transform: none;
          border-radius: 0;
        }

        ion-checkbox.checkbox-checked::part(container) {
          background: var(--primary-color);
          border-color: transparent;
        }
      }

      ion-item.item-checkbox-checked::part(native) {
        background: var(--light-sky-blue);
        font-weight: var(--text-regular);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover-opacity: 1;
        color: var(--text-dark);
      }

      ion-item:hover,
      ion-item:focus,
      ion-item:active {
        // --background: var(--light-sky-blue);
        --background: transparent;
        --color: var(--primary-light2);
      }
    }



  }
}

ion-popover.my-custom-customPopover-multiSelect::part(content) {
  margin-top: 8px;
  border-radius: 12px;
}

ion-popover.my-custom-customPopover-multiSelect::part(backdrop) {
  background: var(--text-dark);
  --backdrop-opacity: 0.2;
}

// ion-popover style-4 multi select V2
ion-popover.my-custom-customPopover-multiSelect-2 {
  --min-width: 180px;
  // --width: fit-content;
  --width: calc(30% - 220px);

  // width: calc(30% - 161px);
  // margin-top: 10px;
  // margin-right: 40px;
  // background: rgba(40, 173, 218, 0.6);
  ion-select-popover {
    &::-webkit-scrollbar {
      display: none;
      /* ความกว้าง scrollbar */
      // width: 0.325rem;
    }

    // &::-webkit-scrollbar-track{
    //     /* สีพื้นหลังแนว scrollbar */
    //     background: var(--light-gray-color3);
    // }
    // &::-webkit-scrollbar-thumb {
    //     /* สีพื้นหลังตัว scrollbar*/
    //     background: var(--primary-color);
    //     // border-radius:0 12px 12px 0;
    //     border-radius: 10px;

    // }
    ion-list {
      padding: 14px 0;

      ion-item {
        // width: 100%;
        --min-height: 60px;
        text-align: center;
        font-size: 12px;
        font-weight: var(--text-light);
        color: var(--text-dark);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;

        ion-checkbox {
          // margin-bottom: 20px;
          color: var(--text-mono-dark2);
          --checkmark-width: 4px;
          --checkmark-color: var(--text-dark2);
          // margin-right: 10px;
          margin: 0;
          display: flex;
          flex-direction: column;
          padding: 0 15px;
          text-align: center;
          align-items: center;
        }

        ion-checkbox::part(container) {
          width: 15px;
          height: 15px;
          padding: 0px;
          margin: 0;
          position: absolute;
          right: 0px;
          border: none;
          outline: none;
          background: transparent;
        }

        ion-checkbox::part(mark) {
          background: none;
          transition: none;
          transform: none;
          border-radius: 0;
        }

        ion-checkbox.checkbox-checked::part(container) {
          background: transparent;
          border-color: transparent;
        }
      }

      ion-item::part(native) {
        padding: 0 !important;

        .item-inner {
          padding: 0;
        }
      }

      ion-item.item-checkbox-checked::part(native) {
        background: var(--light-sky-blue);
        font-weight: var(--text-regular);
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover-opacity: 1;
        color: var(--text-dark);
      }

      ion-item:hover,
      ion-item:focus,
      ion-item:active {
        --background: transparent;
        --color: var(--primary-light2);
      }
    }



  }
}

ion-popover.my-custom-customPopover-multiSelect-2::part(content) {
  margin-top: 8px;
  border-radius: 12px;
  background: plum !important;
}

ion-popover.my-custom-customPopover-multiSelect-2::part(backdrop) {
  background: var(--text-dark);
  --backdrop-opacity: 0.2;
}

ion-popover.pop-datetimer {
  --width: fit-content;
  margin-top: 10px;

  ion-datetime.custom-css-dateitme {
    // --background: rgb(245, 235, 247);
    // --background-rgb: rgba(77,181,79,1);
    --wheel-highlight-background: rgba(77, 181, 79, 0.1);
    // --wheel-fade-background-rgb: 245, 235, 247;
    /* border-radius: 50px; */
  }

  ion-datetime.custom-css-dateitme::part(wheel-item) {
    // color: rgb(255, 66, 97);
    font-weight: var(--text-light);
  }

  ion-datetime.custom-css-dateitme::part(wheel-item active) {
    color: var(--green-color2);
    font-weight: var(--text-regular);
  }
}


//===============================================
//=================  CSS ion-input ==============
//===============================================
ion-input.custom-ion-input-name {
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  --border-style: none;
  --highlight-color-focused: none;
  --highlight-color-invalid: none;
  --highlight-color-valid: none;
  --placeholder-color: var(--dark-gray-color);
  --color: var(--text-dark2);
  --placeholder-opacity: 0.8;
  // font-weight: var(--text-light);
  // --padding-top: 0;
  // --padding-start:20px;
  // --padding-end:15px;
  // --border-radius:6px;
}

ion-input.custom-ion-input-name input[type="text"],
ion-input.custom-ion-input-name input[type="tel"],
ion-input.custom-ion-input-number input[type="number"] {
  outline: none;
  border-radius: 6px;
  background: var(--light-gray-color3);
  padding: 7px 15px;
  height: 35px;
  border: none;
  // border: 1px solid var(--dark-gray-color);
}

ion-input.custom-ion-input-name-2 input[type="text"],
ion-input.custom-ion-input-number-2 input[type="number"],
ion-input.custom-ion-input-number-3 input[type="number"] {
  border-radius: 12px;
  outline: none;
  padding: 7px 15px;
  height: 35px;
  border: none;
  border: 1px solid var(--dark-gray-color);
}

ion-input.custom-ion-input-text-3 input[type="text"] {
  border-radius: 12px;
  outline: none;
  padding: 7px 15px;
  height: 40px;
  border: 1px solid var(--dark-gray-color);
}

ion-input.custom-ion-input-text-3[disabled] {
  opacity: 1 !important;
  /* ทำให้สีไม่จาง */
  color: black;
  /* กำหนดสีข้อความ */
  background-color: #F4F6F8 !important;
  /* กำหนดสีพื้นหลัง */
  border-radius: 5px !important;
  padding: 0px 15px !important;
  min-height: 40px !important;
}

ion-input.custom-ion-input-text-3 input[type="text"]:disabled {
  border: none;
}

ion-input.custom-ion-input-text-3 input[type="text"]:not(:disabled) {
  border: 1px solid black;
}

ion-input.custom-ion-input-number-3 input[type="number"] {
  border-radius: 8px;
}

ion-input.custom-ion-input-text-3 input[type="text"] {
  border-radius: 8px;
}

ion-input.custom-ion-input-number-2 input[type="number"],
ion-input.custom-ion-input-number-3 input[type="number"] {
  text-align: center;
}

ion-input.custom-ion-input-text-3 input[type="text"] {
  text-align: center;
}

ion-input.custom-ion-input-name-2 input[type="text"]:focus,
ion-input.custom-ion-input-number-2 input[type="number"]:focus,
ion-input.custom-ion-input-number-3 input[type="number"]:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

ion-input.custom-ion-input-text-3 input[type="text"]:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}


ion-input.custom-ion-input-name.active-edit input[type="text"],
ion-input.custom-ion-input-name.active-edit input[type="tel"],
ion-input.custom-ion-input-number.active-edit input[type="number"] {
  // outline: none;
  background: var(--white-color);
  border: 1px solid var(--dark-gray-color);
}

// ซ่อนลูกศร ขึ้น-ลง ใน input type number

ion-input.custom-ion-input-number input[type="number"],
ion-input.custom-ion-input-number-2 input[type="number"],
ion-input.custom-ion-input-number-3 input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

ion-input.custom-ion-input-text-3 input[type="text"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

ion-input.custom-ion-input-number input[type="number"]::-webkit-inner-spin-button,
.custom-ion-input-number input[type="number"]::-webkit-outer-spin-button,
ion-input.custom-ion-input-number-2 input[type="number"]::-webkit-inner-spin-button,
.custom-ion-input-number-2 input[type="number"]::-webkit-outer-spin-button,
ion-input.custom-ion-input-number-3 input[type="number"]::-webkit-inner-spin-button,
.custom-ion-input-number-3 input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

ion-input.custom-ion-input-text-3 input[type="text"]::-webkit-inner-spin-button,
.custom-ion-input-text-3 input[type="text"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


ion-input.custom-ion-input-number input[type="number"]:focus,
ion-input.custom-ion-input-number-2 input[type="number"]:focus,
ion-input.custom-ion-input-number-3 input[type="number"]:focus {
  // border: none;
  outline: none;
}

ion-input.custom-ion-input-text-3 input[type="text"]:focus {
  // border: none;
  // outline: none;
}


//===============================================
//=================  CSS ion-accordion ==============
//===============================================
// ion-accordion.accordion-expanding ion-item[slot="header"]{
//   min-height: 100px;
// }
// div[slot='content'] {
//   background: rgba(var(--ion-color-rose-rgb), 0.25);
// }

ion-accordion-group.my-custum-accordion {

  ion-accordion {
    margin: 0 auto 5px;
    // background: pink;
    border-radius: 12px;

    .ion-accordion-toggle-icon {
      // transition: 300ms transform cubic-bezier(0.25, 0.8, 0.5, 1);
      color: var(--dark-gray-color);
      background: var(--light-gray-color3);
      border-radius: 50%;
      padding: 5px 5px;
      font-size: 24px;
    }
  }

  ion-accordion ion-item[slot="header"] {
    border-radius: 12px;
    border-style: none;

    // --background: red;
    --ripple-color: transparent;
    --background-hover: transparent;

    .accord-head {
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      width: 385px;
      padding-left: 5px;
    }

    .accord-head-top {
      color: var(--text-dark2);
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      ion-label:first-child {
        font-size: 18px;
        font-weight: var(--text-medium);
        width: 65%;
      }

      ion-label:last-child {
        font-size: 16px;
        font-weight: var(--text-light);
      }
    }

    .accord-head-bottom {

      display: flex;
      width: 100%;

      ion-label {
        font-size: 16px;
        font-weight: var(--text-light);
        color: var(--primary-light);
      }
    }

    .accord-head-toggle {
      background: pink;
    }
  }

  ion-accordion ion-item[slot="header"]::part(native) {
    border-style: none;
  }

  ion-accordion div[slot="content"] {
    background: var(--white-color);

    .accordion-content {
      padding-top: 10px;

      .accordion-detail {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--light-gray-color3);

        ion-label {
          color: var(--text-dark2);
          font-weight: var(--text-light);
        }

        ion-label.text-accor-left {
          font-size: 15px;
          width: 100%;
        }

        ion-label.text-accor-right {
          font-size: 16px;
          min-width: 30px;
          text-align: center;
        }
      }
    }

    .accordion-btn {
      padding: 15px 35px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      ion-button {
        height: 40px;
        --border-radius: 20px;
        --background: var(--light-gray-color3);
        color: var(--text-dark2);
        --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }

      ion-button:first-child {
        width: 80px;

        ion-icon {
          color: var(--dark-gray-color);
        }
      }

      ion-button:last-child {
        width: 125px;
        font-size: 16px;
        font-weight: var(--text-light);
      }
    }
  }

  // ใช้ตอน accordion กำลังขยายตัว (1)
  ion-accordion.accordion-expanding {

    // background: gold;
    ion-item[slot="header"] {
      border-radius: 12px 12px 0 0;
    }

    .ion-accordion-toggle-icon {
      color: var(--text-white);
      background: var(--dark-color);
    }
  }

  // ใช้ตอน accordion เปิดจนสุด (2)
  ion-accordion.accordion-expanded {

    // background: salmon;
    ion-item[slot="header"] {
      border-radius: 12px 12px 0 0;
    }

    .ion-accordion-toggle-icon {
      color: var(--text-white);
      background: var(--dark-color);
    }
  }

  // ใช้ตอน accordion กำลังปิด (3)
  ion-accordion.accordion-collapsing {
    // background: green;
  }



}

//===============================================
//============== CSS ion-alert ==================
//===============================================

// ปุ่มยืนยันสีแดง
.app-alert-button-confirm-red {
  --backdrop-opacity: 0.7;
  // background: #707070;
  --max-width: 500px;
  --height: 300px;
  --border-radius: 16px;

  .alert-wrapper {
    // background: red;
    // height: 70%;
    width: 100%;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 10px;

    .alert-head {
      display: none;
    }

    .alert-message {
      margin: 0;
      padding: 0 10px;
      font-size: 32px;
      font-weight: var(--text-medium);
      text-align: center;
      color: var(--text-dark2);
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .alert-button-group {
      display: flex;
      justify-content: space-around;
      width: 100%;
      // padding-bottom: 25px;
      padding: 20px 10px 30px;

      .alert-button.success {
        margin: 0 auto;
        background: var(--red-color);
        border-radius: 23px;
        min-width: 150px;
        height: 45px;

        span {
          display: flex;
          justify-content: center;
          color: var(--text-white);
          font-size: 18px;
          text-align: center;
        }
      }

      .alert-button.danger {
        margin: 0 auto;
        background: var(--light-gray-color3);
        min-width: 150px;
        height: 45px;
        border-radius: 23px;

        span {
          display: flex;
          justify-content: center;
          color: var(--text-dark);
          font-size: 18px;
        }
      }
    }
  }
}

// ปุ่มยืนยันสีแดง + มี  header
.app-alert-button-confirm-red-2 {
  --backdrop-opacity: 0.7;
  // background: #707070;
  --max-width: 500px;
  --height: 300px;
  --border-radius: 16px;

  .alert-wrapper {
    // background: red;
    // height: 70%;
    width: 100%;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 10px;

    .alert-head {
      h2 {
        margin: 0;
        padding: 0 10px;
        font-size: 38px;
        font-weight: var(--text-medium);
        text-align: center;
        color: var(--text-dark2);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .alert-message {
      padding: 0 24px;
      text-align: center;
      font-size: 30px;
      color: var(--text-dark2);
    }

    .alert-button-group {
      display: flex;
      justify-content: space-around;
      width: 100%;
      // padding-bottom: 25px;
      padding: 20px 10px;

      .alert-button.success {
        text-transform: capitalize;
        margin: 0 auto;
        background: var(--red-color);
        border-radius: 23px;
        min-width: 150px;
        height: 45px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        span {
          display: flex;
          justify-content: center;
          color: var(--text-white);
          font-size: 18px;
          text-align: center;
        }
      }

      .alert-button.danger {
        text-transform: capitalize;
        margin: 0 auto;
        background: var(--light-gray-color3);
        min-width: 150px;
        height: 45px;
        border-radius: 23px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        span {
          display: flex;
          justify-content: center;
          color: var(--text-dark);
          font-size: 18px;
        }
      }
    }
  }
}

// ปุ่มยืนยันสีดำ + มี  header
.app-alert-button-confirm-black {
  --backdrop-opacity: 0.7;
  // background: #707070;
  --max-width: 550px;
  --height: 350px;
  --border-radius: 16px;

  .alert-wrapper {
    // background: red;
    // height: 70%;
    width: 100%;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 10px;

    .alert-head {
      h2 {
        margin: 0;
        padding: 0 10px;
        font-size: 38px;
        font-weight: var(--text-medium);
        text-align: center;
        color: var(--text-dark2);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .alert-message {
      padding: 0 24px;
      text-align: center;
      font-size: 24px;
      color: var(--text-dark2);
      font-weight: var(--text-light);
    }

    .alert-button-group {
      display: flex;
      justify-content: space-around;
      width: 100%;
      // padding-bottom: 25px;
      padding: 20px 10px;

      .alert-button.success {
        text-transform: capitalize;
        margin: 0 auto;
        background: var(--text-dark3);
        border-radius: 23px;
        min-width: 150px;
        height: 45px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        span {
          display: flex;
          justify-content: center;
          color: var(--text-white);
          font-size: 18px;
          text-align: center;
        }
      }

      .alert-button.danger {
        text-transform: capitalize;
        margin: 0 auto;
        background: var(--light-gray-color3);
        min-width: 150px;
        height: 45px;
        border-radius: 23px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        span {
          display: flex;
          justify-content: center;
          color: var(--text-dark);
          font-size: 18px;
        }
      }
    }
  }
}

// alert เปลี่ยนสถานะรายการอาหร
.app-alert-confirm-change-status {
  --backdrop-opacity: 0.7;
  // background: #707070;
  --max-width: 370px;
  --height: 450px;
  --border-radius: 16px;

  .alert-wrapper {
    // background: red;
    // height: 70%;
    width: 100%;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 25px 25px 45px;

    .alert-head {
      padding: 0;

      h2 {
        margin: 0;
        padding: 0;
        font-size: 22px;
        font-weight: var(--text-medium);
        text-align: center;
        color: var(--text-dark2);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .alert-message {
      display: none;
    }

    .alert-button-group {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      padding: 0;
      padding-top: 15px;
      height: 100%;

      .alert-button {
        text-transform: capitalize;
        margin: 0 auto;
        background: var(--light-gray-color3);
        min-width: 318px;
        border-radius: 12px;

        span {
          display: flex;
          justify-content: center;
          color: var(--text-dark);
          font-weight: var(--text-regular);
          font-size: 18px;
        }
      }

      .alert-button.status {
        margin-bottom: 2px;
        height: 61px;
        // background: greenyellow;
      }

      .alert-button.status:hover,
      .alert-button.status:focus,
      .alert-button.status:active {
        background: var(--green-color);

        span {
          color: var(--text-white);
        }
      }

      .alert-button.danger {
        margin-top: 38px;
        height: 45px;
        border-radius: 23px;
      }
    }
  }
}

//===============================================
//============== CSS ion-modal ==================
//===============================================

ion-modal.modal-default.show-modal~ion-modal.modal-default {
  background-color: transparent !important;
  background: rgba(0, 0, 0, 0.4);
  --backdrop-opacity: 0.4;
}

ion-modal.css-modal-optioned {
  --width: fit-content;
  --width: 680px;
  --height: 85%;
  --border-radius: 12px;
  margin-top: 0px;
  padding: 16px 0 10px;

  .modal-wrapper {}
}


ion-modal.my-custom-modal-datetime {
  --width: fit-content;
  --width: 350px;
  --height: 410px;
  --border-radius: 12px;
  // margin-top: 0px;
  // padding: 16px 0 10px;

  .modal-wrapper {}

}

ion-modal.css-modal-add-new-member {
  --width: fit-content;
  --width: 590px;
  // --height: 90%;
  --height: 690px;
  --border-radius: 12px;
  margin-top: 0px;
  padding: 16px 0 10px;

  .modal-wrapper {}
}

ion-modal.css-modal-select-foodGroup {
  --width: fit-content;
  --width: 320px;
  // --height: 90%;
  --height: 490px;
  --border-radius: 12px;
  margin-top: 0px;
  padding: 12px 0 10px;

  .modal-wrapper {}
}

ion-modal.css-modal-select-food-detail {
  --width: fit-content;
  --width: 920px;
  // --height: 90%;
  --height: 680px;
  --border-radius: 12px;
  margin-top: 0px;
  padding: 16px 0 10px;

  .modal-wrapper {}
}

ion-modal.css-modal-select-foodGroup:part(backdrop) {
  background-color: transparent;
  background: var(--text-dark2);
  --backdrop-opacity: 0.8;
}

ion-modal.my-custom-modal-order-list {
  --ion-background-color: var(--white-color);
  --height: 100%;
  --width: 550px;
  --border-radius: 0px;
}

ion-modal.my-custom-modal-order-list:part(backdrop) {
  background-color: transparent;
  background: var(--text-dark2);
  --backdrop-opacity: 0.8;
}

ion-modal.my-custom-modal-move-order {
  --ion-background-color: var(--white-color);
  --height: 711px;
  --width: 100%;
  --max-width: 1172px;
  --border-radius: 16px;
}

ion-modal.my-custom-modal-move-order:part(backdrop) {
  background-color: transparent;
  background: var(--text-dark2);
  --backdrop-opacity: 0.8;
}

.box-datetime {

  ion-datetime.date-timer {

    // --background: white;
    // --color: black;
    // --button-background: green;
    // --button-color: white;
    // --button-border-radius: 50%;

  }

  ion-datetime.date-timer::part(month-year-button) {}

  // ทุกวัน
  ion-datetime.date-timer::part(calendar-day) {
    color: var(--text-dark2);
    font-size: 20px;
  }

  // วันปัจจุบัน
  ion-datetime.date-timer::part(calendar-day today) {
    color: var(--primary-light);
    border: none;
  }

  // วันที่กด focus
  ion-datetime.date-timer::part(calendar-day):focus {
    background: transparent;
    // background-color: rgb(154 209 98 / 0.2);
    box-shadow: none;
  }

  // วันที่เลือก
  ion-datetime.date-timer.md::part(calendar-day active),
  ion-datetime.date-timer.md::part(calendar-day active):focus {
    background: var(--primary-color);
    color: var(--text-white);
    border: none;
  }

}