<ion-content class="">
  <ion-grid class="">
    <ion-row class="">
      <ion-col class="border-r-2 border-[#E7EBF1]">
        <div class="flex flex-col justify-between h-[80vh]">
          <div>
            <ion-card
              ><img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/card-media.png"
                class="h-1/2 w-full"
            /></ion-card>

            <ion-card class="shadow-none">
              <ion-card-header>
                <!-- <ion-card-subtitle>80</ion-card-subtitle> -->
                <ion-card-title>80</ion-card-title>
               
                <ion-card-title>ไก่ย่าง</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                {{'ไก่ย่างแท้ๆ เขาวนกวาง'}}
              </ion-card-content>

              <!-- <ion-button fill="clear">Action 2</ion-button> -->
            </ion-card>
          </div>
          <ion-card class="shadow-none items-center mx-16"
            ><ion-button expand="block" shape="round">ยกเลิก</ion-button></ion-card
          >
        </div>
      </ion-col>

      <!-- <ion-col>2</ion-col> -->
      <ion-col class="h-full bg-slate-300">3</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
