<ion-content [fullscreen]="true">
  <div class="settings-container">
    <div class="sidebar">
      <ion-label class="text-sub-head">ตั้งค่า</ion-label>
      <div class="box-1">
        <div class="box-1-img">
          <img src=".././../assets/image/img-product.png" alt="">
        </div>
        <span>Wildmutt</span>
      </div>
      <ion-list>
        <ion-item lines="none" routerLink="restaurant-info" routerLinkActive="active">ข้อมูลร้านอาหาร</ion-item>
        <ion-item lines="none" routerLink="receipt" routerLinkActive="active">ตั้งค่าใบเสร็จ</ion-item>
        <ion-item lines="none" routerLink="meal-bill" routerLinkActive="active">ตั้งค่าใบแจ้งค่าอาหาร</ion-item>
        <ion-item lines="none" routerLink="customer-type" routerLinkActive="active">ประเภทลูกค้า</ion-item>
        <ion-item lines="none" routerLink="employee" routerLinkActive="active">พนักงาน</ion-item>
        <ion-item lines="none" routerLink="expiration" routerLinkActive="active">วันหมดอายุ</ion-item>
        <ion-item lines="none" routerLink="other" routerLinkActive="active">ตั้งค่าอื่นๆ</ion-item>
      </ion-list>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ion-content>